{% include 'overall_header.html' %}

<div class="row">
	<div class="col-md-12">
		<div class="panel-group" id="faq" role="tablist" aria-multiselectable="true">
			{% for block in faq_block %}
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="block-{{ loop.index }}">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq" href="#block-{{ loop.index }}-collapse" aria-expanded="false" aria-controls="block-{{ loop.index }}-collapse">{{ loop.index ~ '. ' ~ block.BLOCK_TITLE }}</a>
				</div>
				<div id="block-{{ loop.index }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="block-{{ loop.index }}" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<div class="panel-group" id="block-{{ loop.index }}-group" role="tablist" aria-multiselectable="true">
							{% for row in block.faq_row %}
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="block-{{ loop.parent.loop.index }}-row-{{ loop.index }}">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#block-{{ loop.parent.loop.index }}-group" href="#block-{{ loop.parent.loop.index }}-row-{{ loop.index }}-collapse" aria-expanded="false" aria-controls="block-{{ loop.parent.loop.index }}-row-{{ loop.index }}-collapse">{{ loop.parent.loop.index ~ '.' ~ loop.index ~ ' ' ~ row.FAQ_QUESTION }}</a>
								</div>
								<div id="block-{{ loop.parent.loop.index }}-row-{{ loop.index }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="block-{{ loop.parent.loop.index }}-row-{{ loop.index }}" aria-expanded="false" style="height: 0px;">
									<div class="panel-body">
										{{ row.FAQ_ANSWER }}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
