<div class="tabs">
	<ul class="list-inline tabs-nav" role="tablist">
		{% for row in forumrow if row.S_IS_CAT %}

		{# Category icon #}
		{% if row.FORUM_ID == FORUM_ID_VIETNAMESE %}
			{% set CAT_ICON = 'fa fa-star' %}
		{% elseif row.FORUM_ID == FORUM_ID_VIETNAMESE_SUPPORT %}
			{% set CAT_ICON = 'fa fa-heart' %}
		{% elseif row.FORUM_ID == FORUM_ID_VIETNAMESE_EXT %}
			{% set CAT_ICON = 'fa fa-rocket' %}
		{% elseif row.FORUM_ID == FORUM_ID_VIETNAMESE_STYLE %}
			{% set CAT_ICON = 'fa fa-paint-brush' %}
		{% elseif row.FORUM_ID == FORUM_ID_VIETNAMESE_TUTORIAL %}
			{% set CAT_ICON = 'fa fa-check-square-o' %}
		{% elseif row.FORUM_ID == FORUM_ID_VIETNAMESE_DISCUSSION %}
			{% set CAT_ICON = 'fa fa-comments' %}
		{% elseif row.FORUM_ID == FORUM_ID_ENGLISH %}
			{% set CAT_ICON = 'fa fa-globe' %}
		{% elseif row.FORUM_ID == FORUM_ID_ENGLISH_SUPPORT %}
			{% set CAT_ICON = 'fa fa-heart' %}
		{% elseif row.FORUM_ID == FORUM_ID_ENGLISH_TUTORIAL %}
			{% set CAT_ICON = 'fa fa-check-square-o' %}
		{% elseif row.FORUM_ID == FORUM_ID_ENGLISH_DISCUSSION %}
			{% set CAT_ICON = 'fa fa-comments' %}
		{% else %}
			{% set CAT_ICON = 'fa fa-chevron-circle-right' %}
		{% endif %}

		{% if row.FORUM_ID == FORUM_ID_VIETNAMESE or row.FORUM_ID == FORUM_ID_ENGLISH %}
			{% set S_FORUM_LANG = ((S_VIETNAMESE and row.FORUM_ID == FORUM_ID_VIETNAMESE) or (not S_VIETNAMESE and row.FORUM_ID == FORUM_ID_ENGLISH)) %}
		{% else %}
			{% set S_FORUM_LANG = loop.first %}
		{% endif %}

		<li role="presentation"{% if S_FORUM_LANG %} class="active"{% endif %}><a href="#cat_{{ row.FORUM_ID }}" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_FORUM_LANG ? 'true' : 'false' }}"><i class="{{ CAT_ICON }}"></i> {{ row.FORUM_NAME }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for row in forumrow %}

		{% if row.FORUM_ID == FORUM_ID_VIETNAMESE or row.FORUM_ID == FORUM_ID_ENGLISH %}
			{% set S_FORUM_LANG = ((S_VIETNAMESE and row.FORUM_ID == FORUM_ID_VIETNAMESE) or (not S_VIETNAMESE and row.FORUM_ID == FORUM_ID_ENGLISH)) %}
		{% else %}
			{% set S_FORUM_LANG = loop.first %}
		{% endif %}

		{% if (row.S_IS_CAT and not loop.first) or row.S_NO_CAT %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if row.S_IS_CAT or loop.first or row.S_NO_CAT %}
		<div role="tabpanel" class="tab-pane{% if S_FORUM_LANG %} active{% endif %}" id="cat_{{ row.FORUM_ID }}">
			<div class="widget white-bg">
				<ul class="comments-list list-unstyled clearfix">
		{% endif %}

		{% if not row.S_IS_CAT %}
					<li class="clearfix">
						<img src="{{ T_THEME_PATH }}/images/forum_icons/{{ row.FORUM_ID }}.png" alt="" width="64" class="img-circle">
						<div class="content">
							<div class="comments-header">
								<strong class="text-primary">{{ row.FORUM_NAME }}</strong>
								{% if row.LAST_POST_TIME %}<small class="text-muted">{{ row.LAST_POST_TIME }}</small>{% endif %}
							</div>
							<div>
								<span class="hidden-xs hidden-sm">{% if row.subforum and row.S_LIST_SUBFORUMS %}{% for sub in row.subforum %}<a href="{{ sub.U_SUBFORUM }}" class="btn btn-primary btn-icon"><i>{{ loop.index }}</i> {{ sub.SUBFORUM_NAME }}</a> {% endfor %}{% elseif row.MODERATORS %}{row.L_MODERATOR_STR}{{ lang('COLON') }} {{ row.MODERATORS }}{% endif %}</span>
								<ul class="list-inline pull-right">
									<li><a data-toggle="tooltip" data-placement="bottom" title="{{ lang('TOPICS') }}"><i class="icon-notebook fa-2x"></i> {{ row.TOPICS }}</a></li>
									<li><a data-toggle="tooltip" data-placement="bottom" title="{{ lang('POSTS') }}"><i class="icon-docs fa-2x"></i> {{ row.POSTS }}</a></li>
								</ul>
							</div>
						</div>
					</li>
		{% endif %}

		{% if loop.last %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% endfor %}
	</div>
</div>
