{% include 'overall_header.html' %}

<div class="row margin-r-5">
	{% if pagination %}{% include 'pagination.html' %}{% endif %}
</div>

<div class="row">
	{% for row in memberrow %}

	{% set BG_COLOR = '' %}
	{% if row.RANK_TITLE_RAW in ['FOUNDER', 'ADMINISTRATOR'] %}
		{% set BG_COLOR = 'danger' %}
	{% elseif row.RANK_TITLE_RAW == 'DEVELOPER' %}
		{% set BG_COLOR = 'primary' %}
	{% elseif row.RANK_TITLE_RAW == 'MANAGER' %}
		{% set BG_COLOR = 'success' %}
	{% elseif row.RANK_TITLE_RAW == 'SUPPORTER' %}
		{% set BG_COLOR = 'indigo' %}
	{% elseif row.RANK_TITLE_RAW in ['GLOBAL_MODERATOR', 'MODERATOR'] %}
		{% set BG_COLOR = 'warning' %}
	{% elseif row.S_INACTIVE %}
		{% set BG_COLOR = 'grey' %}
	{% endif %}

	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				{% if row.AVATAR_IMG %}
				<span class="avatar avatar-lg{% if row.S_ONLINE %} avatar-online{% endif %}">
					<a href="{{ row.U_VIEW_PROFILE }}"><img alt="{{ row.USERNAME }}" class="bg-light-dark" src="{{ row.AVATAR_IMG }}"></a>
					{% if row.S_ONLINE %}<i></i>{% endif %}
				</span>
				{% else %}
				<div class="avatar avatar-letter-lg{% if row.S_ONLINE %} avatar-online{% endif %} bg-{{ BG_COLOR ?: 'primary' }}">
					<a href="{{ row.U_VIEW_PROFILE }}"><span class="initials">{{ row.USERNAME|slice(0, 2)|upper }}</span></a>
					{% if row.S_ONLINE %}<i></i>{% endif %}
				</div>
				{% endif %}

				<p class="lead margin-b-0 text-{{ BG_COLOR ?: 'info' }}">{{ row.USERNAME }}</p>
				<p class="text-muted">{{ row.JOINED }}</p>
				<p>
					<a href="{{ row.U_PM }}" data-tooltip="true" data-placement="bottom" title="{{ lang('PM') }}"><i class="fa fa-envelope-o fa-2x text-primary"></i></a>
					{% if row.custom_fields %}
						{% for cpf in row.custom_fields %}
							{% if cpf.PROFILE_FIELD_IDENT == 'phpbb_website' %}
								<a href="{{ cpf.PROFILE_FIELD_VALUE }}" target="_blank" data-tooltip="true" data-placement="bottom" title="{{ lang('WEBSITE') }}"><i class="fa fa-globe fa-2x btn-icon-github"></i></a>
							{% elseif cpf.PROFILE_FIELD_IDENT == 'phpbb_facebook' %}
								<a href="{{ cpf.PROFILE_FIELD_CONTACT }}" target="_blank" data-tooltip="true" data-placement="bottom" title="{{ lang('FACEBOOK') }}"><i class="fa fa-facebook-square fa-2x btn-icon-facebook"></i></a>
							{% elseif cpf.PROFILE_FIELD_IDENT == 'phpbb_twitter' %}
								<a href="{{ cpf.PROFILE_FIELD_CONTACT }}" target="_blank" data-tooltip="true" data-placement="bottom" title="{{ lang('TWITTER') }}"><i class="fa fa-twitter-square fa-2x btn-icon-twitter"></i></a>
							{% elseif cpf.PROFILE_FIELD_IDENT == 'phpbb_googleplus' %}
								<a href="{{ cpf.PROFILE_FIELD_CONTACT }}" target="_blank" data-tooltip="true" data-placement="bottom" title="{{ lang('GOOGLEPLUS') }}"><i class="fa fa-google-plus-square fa-2x btn-icon-googleplus"></i></a>
							{% elseif cpf.PROFILE_FIELD_IDENT == 'phpbb_skype' %}
								<a href="{{ cpf.PROFILE_FIELD_CONTACT }}" target="_blank" data-tooltip="true" data-placement="bottom" title="{{ lang('SKYPE') }}"><i class="fa fa-skype fa-2x btn-icon-twitter"></i></a>
							{% endif %}
						{% endfor %}
					{% else %}
						<a href="{{ row.U_VIEW_PROFILE }}" data-tooltip="true" data-placement="bottom" title="{{ lang('VINABB') }}"><i class="fa fa-vimeo fa-2x"></i></a>
					{% endif %}
				</p>
				{% if row.S_INACTIVE %}
				<div class="ribbon ribbon-clip ribbon-reverse">
					<span class="ribbon-inner">{{ lang('INACTIVE') }}</span>
				</div>
				{% elseif BG_COLOR %}
				<div class="ribbon ribbon-clip ribbon-reverse ribbon-{{ BG_COLOR }}">
					<span class="ribbon-inner">{{ row.RANK_TITLE }}</span>
				</div>
				{% endif %}
			</div>
			<div class="panel-footer{{ BG_COLOR ? ' bg-' ~ BG_COLOR : '' }}">
				<ul class="list-unstyled margin-b-0 text-center row">
					<li class="col-xs-4">
						<span class="font-600">{{ row.USER_ID }}</span>
						<p class="{% if not BG_COLOR %}text-muted {% endif %}text-sm margin-b-0">{{ lang('ID') }}</p>
					</li>
					<li class="col-xs-4">
						<span class="font-600">{{ row.AGE ?: lang('ELLIPSIS') }}</span>
						<p class="{% if not BG_COLOR %}text-muted {% endif %}text-sm margin-b-0">{{ lang('AGE') }}</p>
					</li>
					<li class="col-xs-4">
						<span class="font-600">{{ row.POSTS|number_format }}</span>
						<p class="{% if not BG_COLOR %}text-muted {% endif %}text-sm margin-b-0">{{ lang('POSTS') }}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row margin-r-5">
	{% if pagination %}{% include 'pagination.html' %}{% endif %}
</div>

{% include 'overall_footer.html' %}
