<!DOCTYPE html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# For sharing via Google+ #}
	{% if S_PORTAL_ARTICLE %}
	<meta property="og:title" content="{{ ARTICLE_NAME }}">
	<meta property="og:image" content="{{ ARTICLE_IMG }}">
	<meta property="og:description" content="{{ ARTICLE_DESC }}">
	{% endif %}

	<title>{{ PAGE_TITLE }}</title>

	<link rel="apple-touch-icon" href="{{ T_THEME_PATH }}/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ T_THEME_PATH }}/images/favicon.png">

	<link href="{{ T_THEME_PATH }}/css/bootstrap.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/font-awesome.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/simple-line-icons.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/pace.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/jasny-bootstrap.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/icheck-flat-blue.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	{% if not S_SIMPLE_HEADER and (S_IN_POSTING or S_COMPOSE_PM or S_LOAD_HIGHLIGHT) %}
	<link href="{{ T_THEME_PATH }}/css/highlight-github-gist.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	{% endif %}
	{% if not S_SIMPLE_HEADER and S_WYSIWYG_EDITOR %}
	<link href="{{ T_THEME_PATH }}/css/sceditor.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	{% endif %}
	<link href="{{ T_THEME_PATH }}/css/style.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700,800" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="{{ T_THEME_PATH }}/js/html5shiv.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/respond.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<![endif]-->
</head>

<body class="layout-horizontal">
	{# Top panel #}
	<div class="top-bar bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					{# Logo #}
					<a href="{{ U_INDEX }}" data-tooltip="true" data-placement="bottom" title="{{ SITE_DESCRIPTION }}" class="admin-logo">
						<h1><img src="{{ T_THEME_PATH }}/images/logo.png" alt=""></h1>
					</a>
					{# Search form #}
					<div class="search-form hidden-xs">
						<form action="{{ U_SEARCH }}" method="get" id="search">
							<input type="text" name="keywords" class="form-control" placeholder="{{ lang('SEARCH_MINI') }}">
							<button type="button" class="btn-search"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
				<div class="col-xs-6">
					<ul class="list-inline top-right-nav">
						{# Messages #}
						{% if S_REGISTERED_USER and S_DISPLAY_PM %}
						<li data-tooltip="true" data-placement="bottom" title="{{ lang('PRIVATE_MESSAGES') }}" class="dropdown hidden-xs icon-dropdown">
							<a href="{{ U_PRIVATEMSGS }}">
								<i class="fa fa-envelope-open"></i>
								{% if PRIVATE_MESSAGE_COUNT %}<span class="badge badge-danger">{{ PRIVATE_MESSAGE_COUNT }}</span>{% endif %}
							</a>
						</li>
						{% endif %}

						{# Notifications #}
						{% include 'notifications.html' %}

						{# Register/Login #}
						{% if not S_REGISTERED_USER and not S_IS_BOT %}
						<li data-tooltip="true" data-placement="bottom" title="{{ lang('LOGIN') }}"><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-address-book-o animate-pulse"></i></a></li>
						{% endif %}

						{# Right panel toggle #}
						{#<li class="hidden-xs">
							<a href="#" class="right-sidebar-toggle"><i class="fa fa-chevron-circle-left"></i></a>
						</li>#}

						{# Guest dropdown menu #}
						{% if not S_REGISTERED_USER and not S_IS_BOT %}
						<li class="dropdown avtar-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{ T_THEME_PATH }}/images/forum_icons/{{ LANG_SWITCH_CURRENT == LANG_SWITCH_DEFAULT ? FORUM_ID_VIETNAMESE : FORUM_ID_ENGLISH }}.png" class="img-circle" width="30" alt="">
							</a>
							<ul class="dropdown-menu top-dropdown">
								{% if U_LANG %}<li><a href="{{ U_LANG }}"><i class="icon-refresh"></i> {{ LANG_SWITCH_TITLE }}</a></li>{% endif %}
								<li><a href="{{ U_FAQ }}"><i class="icon-question"></i> {{ lang('FAQ') }}</a></li>
								<li class="divider"></li>
								<li><a href="{{ U_DELETE_COOKIES }}" data-ajax="true" data-refresh="true"><i class="icon-trash"></i> {{ lang('DELETE_COOKIES') }}</a></li>
							</ul>
						</li>
						{% endif %}

						{# Member dropdown menu #}
						{% if S_REGISTERED_USER %}
						<li class="dropdown avtar-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{ CURRENT_USER_AVATAR ?: T_THEME_PATH ~ '/images/no_avatar.png' }}" class="img-circle white-bg" width="30" alt="">
							</a>
							<ul class="dropdown-menu top-dropdown">
								{% if U_ACP %}<li><a href="{{ U_ACP }}"><i class="icon-equalizer"></i> {{ lang('ACP_SHORT') }}</a></li>{% endif %}
								{% if U_MCP %}<li><a href="{{ U_MCP }}"><i class="icon-briefcase"></i> {{ lang('MCP_SHORT') }}</a></li>{% endif %}
								<li><a href="{{ U_PROFILE }}"><i class="icon-settings fa-spin"></i> {{ lang('PROFILE') }}</a></li>
								<li><a href="{{ U_USER_PROFILE }}"><i class="icon-user"></i> {{ lang('READ_PROFILE') }}</a></li>
								<li><a href="{{ U_FAQ }}"><i class="icon-question"></i> {{ lang('FAQ') }}</a></li>
								{% if U_RESTORE_PERMISSIONS %}
								<li class="divider"></li>
								<li><a href="{{ U_RESTORE_PERMISSIONS }}"><i class="icon-refresh"></i> {{ lang('RESTORE_PERMISSIONS') }}</a></li>
								{% endif %}
								<li class="divider"></li>
								<li><a href="{{ U_DELETE_COOKIES }}" data-ajax="true" data-refresh="true"><i class="icon-trash"></i> {{ lang('DELETE_COOKIES') }}</a></li>
								<li><a href="{{ U_LOGIN_LOGOUT }}"><i class="icon-logout"></i> {{ L_LOGIN_LOGOUT }}</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	{# Right panel #}
	{# {% include 'panel.html' %} #}

	{# Menu #}
	{% include 'menu.html' %}

	{# Page content #}
	<div class="h-main-content">
		<div class="container">
			{# Breadcrumb #}
			{% if not S_SIMPLE_HEADER %}{% include 'breadcrumb.html' %}{% endif %}
