			{% if not S_SIMPLE_HEADER %}
			<div class="row">
				<div class="col-md-6">
					<div class="panel">
						<div class="panel-body">
							<h4>{{ lang('FOOTER_RULE_TITLE') }} <i data-tooltip="true" data-placement="right" title="{{ lang('FOOTER_RULE_EXPLAIN') }}" class="fa fa-question-circle-o"></i></h4>
							<ul>{{ lang('FOOTER_RULE_TEXT') }}</ul>
							<h4>{{ lang('FOOTER_HISTORY_TITLE') }}</h4>
							<p class="text-justify">{{ lang('FOOTER_HISTORY_TEXT') }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget bg-danger text-center">
						<h3 class="font-300">{{ lang('FOOTER_FLAG_TITLE') }}</h3>
						<h1 class="font-300 font-lg text-yellow"><i class="fa fa-star"></i></h1>
						<p class="margin-b-0">{{ lang('FOOTER_FLAG_TEXT') }}</p>
					</div>
					<div class="widget text-center bg-teal">
						<h1 class="font-300"><i class="icon-ghost"></i></h1>
						<h4 class="font-400 margin-b-10">{{ lang('ADMINISTRATOR') }}</h4>
						<p class="margin-b-0">{{ MANAGER_USERNAME ?: lang('ELLIPSIS') }}</p>
						<ul class="list-inline text-center margin-b-0">
							{% if U_CONTACT_PM %}<li><a href="{{ U_CONTACT_PM }}" data-tooltip="true" data-placement="bottom" title="{{ lang('PM') }}"><i class="fa fa-comment"></i></a></li>{% endif %}
							{% if U_CONTACT_US %}<li><a href="{{ U_CONTACT_US }}" data-tooltip="true" data-placement="bottom" title="{{ lang('SEND_EMAIL') }}"><i class="fa fa-envelope"></i></a></li>{% endif %}
							{% if MAP_PHONE %}<li><a href="#" data-tooltip="true" data-placement="bottom" title="{{ lang('PHONE') ~ lang('COLON') }} {{ MAP_PHONE }}{% if MAP_PHONE_NAME %} ({{ MAP_PHONE_NAME }}){% endif %}"><i class="fa fa-phone"></i></a></li>{% endif %}
							{% if S_FOUNDER and DEBUG_OUTPUT %}<li><a data-toggle="modal" data-target="#debugModal"><i data-tooltip="true" data-placement="bottom" title="{{ lang('DEBUG') }}" class="fa fa-bug"></i></a></li>{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget padding-0 white-bg">
						<div class="bg-blue" style="height: 105px"></div>
						<div class="thumb-over">
							<img src="{{ T_THEME_PATH }}/images/nedka.png" alt="" width="100" class="img-circle">
						</div>
						<div class="padding-20 text-center">
							<p class="lead font-500 margin-b-0">{{ MANAGER_NAME ?: lang('ELLIPSIS') }}</p>
							<p class="text-muted">{{ lang('FOOTER_MANAGER_ROLE') }}</p>
							<p>{{ lang('FOOTER_MANAGER_TEXT') }}</p>
							{% if MAP_API and MAP_LAT and MAP_LNG %}<button data-toggle="modal" data-target="#mapModal" class="btn btn-primary"><i class="fa fa-map-marker"></i> {{ lang('CONTACT') }}</button>{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		<footer class="footer">
			<div class="container">
				<span class="pull-{{ S_CONTENT_FLOW_BEGIN }}"><i class="fa fa-code"></i> {% EVENT overall_footer_copyright_prepend %}{{ CREDIT_LINE }}{% EVENT overall_footer_copyright_append %}</span>
				<span class="pull-{{ S_CONTENT_FLOW_END }} hidden-xs">
					{% if FACEBOOK_URL %}<a href="{{ FACEBOOK_URL }}" target="_blank" data-tooltip="true" title="{{ lang('FACEBOOK') }}"><i class="fa fa-facebook-square fa-2x btn-icon-facebook media-middle"></i></a>{% endif %}
					{% if TWITTER_URL %}<a href="{{ TWITTER_URL }}" target="_blank" data-tooltip="true" title="{{ lang('TWITTER') }}"><i class="fa fa-twitter-square fa-2x btn-icon-twitter media-middle"></i></a>{% endif %}
					{% if GOOGLE_PLUS_URL %}<a href="{{ GOOGLE_PLUS_URL }}" target="_blank" data-tooltip="true" title="{{ lang('GOOGLEPLUS') }}"><i class="fa fa-google-plus-square fa-2x btn-icon-googleplus media-middle"></i></a>{% endif %}
					{% if GITHUB_URL %}<a href="{{ GITHUB_URL }}" target="_blank" data-tooltip="true" title="{{ lang('GITHUB') }}"><i class="fa fa-github-square fa-2x btn-icon-github media-middle"></i></a>{% endif %}
				</span>
			</div>
		</footer>
	</div>

	{# Modals on all pages #}
	{% include 'modals.html' %}

	{# Cron tasks #}
	{% if not S_IS_BOT %}<div class="hidden">{{ RUN_CRON_TASK }}</div>{% endif %}

	{# Global JS variables #}
	<script>
		var $t_theme_path = '{{ T_THEME_PATH }}',
			$t_smilies_path = '{{ T_SMILIES_PATH }}',
			$map_lat = {{ MAP_LAT }},
			$map_lng = {{ MAP_LNG }},
			$load_highlight = {% if not S_SIMPLE_HEADER and (S_IN_POSTING or S_COMPOSE_PM or S_LOAD_HIGHLIGHT) %}true{% else %}false{% endif %},
			$load_sceditor = {% if S_WYSIWYG_EDITOR %}true{% else %}false{% endif %},
			$sceditor_lang = '{{ S_USER_LANG }}',
			$sceditor_smilies = {% if SCEDITOR_SMILIES %}{{ SCEDITOR_SMILIES }}{% else %}{}{% endif %},
			$sceditor_hidden_smilies = {% if SCEDITOR_HIDDEN_SMILIES %}{{ SCEDITOR_HIDDEN_SMILIES }}{% else %}{}{% endif %},
			$sceditor_smilies_desc = {% if SCEDITOR_SMILIES_DESC %}{{ SCEDITOR_SMILIES_DESC }}{% else %}{}{% endif %};
	</script>

	{# JS files #}
	<script src="{{ T_THEME_PATH }}/js/jquery.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/bootstrap.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/jasny-bootstrap.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/pace.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/jquery.slimscroll.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/icheck.min.js?v={{ T_ASSETS_VERSION }}"></script>
	{% if not S_SIMPLE_HEADER and MAP_API and MAP_LAT and MAP_LNG %}
	<script src="https://maps.google.com/maps/api/js?key={{ MAP_API }}"></script>
	<script src="{{ T_THEME_PATH }}/js/gmaps.min.js?v={{ T_ASSETS_VERSION }}"></script>
	{% endif %}
	{% if not S_SIMPLE_HEADER and (S_IN_POSTING or S_COMPOSE_PM or S_LOAD_HIGHLIGHT) %}
	<script src="{{ T_THEME_PATH }}/js/highlight.min.js?v={{ T_ASSETS_VERSION }}"></script>
	{% endif %}
	{% if not S_SIMPLE_HEADER and S_WYSIWYG_EDITOR %}
	<script src="{{ T_THEME_PATH }}/js/jquery.sceditor.bbcode.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_JS_LANG_PATH }}/sceditor.js?v={{ T_ASSETS_VERSION }}"></script>
	{% endif %}
	{% if not S_SIMPLE_HEADER and S_INDEX %}
	<script src="https://buttons.github.io/buttons.js"></script>
	{% endif %}
	<script src="{{ T_THEME_PATH }}/js/custom.js?v={{ T_ASSETS_VERSION }}"></script>

	{% if GOOGLE_ANALYTICS_ID %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
		ga('send', 'pageview');
	</script>
	{% endif %}
</body>
</html>
