<!DOCTYPE html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ PAGE_TITLE }}</title>

	<link rel="apple-touch-icon" href="{{ T_THEME_PATH }}/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ T_THEME_PATH }}/images/favicon.png">

	<link href="{{ T_THEME_PATH }}/css/bootstrap.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/font-awesome.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/simple-line-icons.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/pace.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/jasny-bootstrap.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/nanoscroller.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/icheck-blue.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH }}/css/sweetalert2.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	{% if S_IN_POSTING or S_COMPOSE_PM or S_LOAD_HIGHLIGHT %}
	<link href="{{ T_THEME_PATH }}/css/highlight-github-gist.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	{% endif %}
	<link href="{{ T_THEME_PATH }}/css/style.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700,800" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="{{ T_THEME_PATH }}/js/html5shiv.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<script src="{{ T_THEME_PATH }}/js/respond.min.js?v={{ T_ASSETS_VERSION }}"></script>
	<![endif]-->
</head>

<body class="layout-horizontal">
	<!-- Top panel -->
	<div class="top-bar bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<a href="{{ U_INDEX }}" data-toggle="tooltip" data-placement="bottom" title="{{ SITE_DESCRIPTION }}" class="admin-logo">
						<h1><img src="{{ T_THEME_PATH }}/images/logo.png" alt=""></h1>
					</a>
					<div class="search-form hidden-xs">
						<form action="{{ U_SEARCH }}" method="get" id="search">
							<input type="text" name="keywords" id="keywords" class="form-control" placeholder="{{ lang('SEARCH_MINI') }}">
							<button type="button" class="btn-search"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
				<div class="col-xs-6">
					<ul class="list-inline top-right-nav">
						<!-- Messages -->
						{% if S_REGISTERED_USER %}
						<li class="dropdown hidden-xs icon-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-comments"></i>
								<span class="badge badge-warning">4</span>
							</a>
							<ul class="dropdown-menu top-dropdown lg-dropdown notification-dropdown">
								<li>
									<div class="dropdown-header"><a href="#" class="pull-right text-muted"><small>View All</small></a> Messages </div>
									<div class="scrollDiv">
										<div class="notification-list">
											<a href="#" class="clearfix">
												<span class="notification-icon">
													<img src="{{ T_THEME_PATH }}/images/no_avatar.png" alt="" class="img-circle" width="50">
												</span>
												<span class="notification-title">John Doe <label class="label label-primary pull-right">Office</label></span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">40 minutes ago</span>
											</a>
											<a href="#" class="clearfix">
												<span class="notification-icon">
													<img src="{{ T_THEME_PATH }}/images/no_avatar.png" alt="" class="img-circle" width="50">
												</span>
												<span class="notification-title">Emily Doe  <label class="label label-info pull-right">Marketing</label></span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">40 minutes ago</span>
											</a>
											<a href="#" class="clearfix">
												<span class="notification-icon">
													<img src="{{ T_THEME_PATH }}/images/no_avatar.png" alt="" class="img-circle" width="50">
												</span>
												<span class="notification-title">Michael Clark <label class="label label-warning pull-right">Support</label> </span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">40 minutes ago</span>
											</a>
											<a href="#" class="clearfix">
												<span class="notification-icon">
													<img src="{{ T_THEME_PATH }}/images/no_avatar.png" alt="" class="img-circle" width="50">
												</span>
												<span class="notification-title">Ronaldo <label class="label label-success pull-right">Metting</label> </span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">40 minutes ago</span>
											</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						{% endif %}

						<!-- Notifications -->
						{% if S_REGISTERED_USER %}
						<li class="dropdown hidden-xs icon-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-dot-circle-o"></i>
								<span class="badge badge-danger">6</span>
							</a>
							<ul class="dropdown-menu top-dropdown lg-dropdown notification-dropdown">
								<li>
									<div class="dropdown-header"><a href="{{ U_VIEW_ALL_NOTIFICATIONS }}" class="pull-right text-muted"><small>{{ lang('SEE_ALL') }}</small></a> Notifications </div>
									<div class="scrollDiv">
										<div class="notification-list">
											{% for notification in notifications %}
											<a{% if notification.URL %} href="{{ notification.URL }}"{% endif %} class="clearfix">
												<span class="notification-icon"><i class="icon-info text-warning"></i></span>
												<span class="notification-title">{{ notification.FORMATTED_TITLE }}</span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">{{ notification.TIME }}</span>
											</a>
											{% else %}
											<a class="clearfix">
												<span class="notification-icon"><i class="icon-check text-success"></i></span>
												<span class="notification-title">Project Task Complete </span>
												<span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
												<span class="notification-time">40 minutes ago</span>
											</a>
											{% endfor %}
										</div>
									</div>
								</li>
							</ul>
						</li>
						{% endif %}

						<!-- Register/Login -->
						{% if not S_REGISTERED_USER and not S_IS_BOT %}
						<li><a href="{{ U_LOGIN_LOGOUT }}"><i class="fa fa-user-plus animate-pulse"></i></a></li>
						{% endif %}

						<!-- Right panel toggle -->
						<li class="dropdown">
							<a href="#" class="right-sidebar-toggle"><i class="fa fa-chevron-circle-left"></i></a>
						</li>

						<!-- Guest dropdown menu -->
						{% if not S_REGISTERED_USER and not S_IS_BOT %}
						<li class="dropdown avtar-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{ T_THEME_PATH }}/images/forum_icons/{% if LANG_SWITCH_CURRENT == LANG_SWITCH_DEFAULT %}{{ FORUM_ID_ENGLISH }}{% else %}{{ FORUM_ID_VIETNAMESE }}{% endif %}.png" class="img-circle" width="30" alt="">
							</a>
							<ul class="dropdown-menu top-dropdown">
								{% if U_LANG %}<li><a href="{{ U_LANG }}"><i class="icon-refresh"></i> {{ LANG_SWITCH_TITLE }}</a></li>{% endif %}
								<li><a href="{{ U_PROFILE }}"><i class="icon-user"></i> {{ lang('PROFILE') }}</a></li>
								<li><a href="{{ U_USER_PROFILE }}"><i class="icon-settings"></i> {{ lang('READ_PROFILE') }}</a></li>
								<li><a href="{{ U_FAQ }}"><i class="icon-question"></i> {{ lang('FAQ') }}</a></li>
								<li class="divider"></li>
								<li><a href="{{ U_DELETE_COOKIES }}" data-ajax="true" data-refresh="true"><i class="icon-trash"></i> {{ lang('DELETE_COOKIES') }}</a></li>
								<li><a href="{{ U_LOGIN_LOGOUT }}"><i class="icon-login"></i> {{ L_LOGIN_LOGOUT }}</a></li>
							</ul>
						</li>
						{% endif %}

						<!-- Member dropdown menu -->
						{% if S_REGISTERED_USER %}
						<li class="dropdown avtar-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{ T_THEME_PATH }}/images/no_avatar.png" class="img-circle" width="30" alt="">
							</a>
							<ul class="dropdown-menu top-dropdown">
								{% if U_ACP %}<li><a href="{{ U_ACP }}"><i class="icon-equalizer"></i> {{ lang('ACP_SHORT') }}</a></li>{% endif %}
								{% if U_MCP %}<li><a href="{{ U_MCP }}"><i class="icon-briefcase"></i> {{ lang('MCP_SHORT') }}</a></li>{% endif %}
								<li><a href="{{ U_PROFILE }}"><i class="icon-settings"></i> {{ lang('PROFILE') }}</a></li>
								<li><a href="{{ U_USER_PROFILE }}"><i class="icon-user"></i> {{ lang('READ_PROFILE') }}</a></li>
								<li><a href="{{ U_FAQ }}"><i class="icon-question"></i> {{ lang('FAQ') }}</a></li>
								<li class="divider"></li>
								<li><a href="{{ U_DELETE_COOKIES }}" data-ajax="true" data-refresh="true"><i class="icon-trash"></i> {{ lang('DELETE_COOKIES') }}</a></li>
								<li><a href="{{ U_LOGIN_LOGOUT }}"><i class="icon-logout"></i> {{ L_LOGIN_LOGOUT }}</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Right panel -->
	<nav id="right-sidebar-toggle" class="right_sidebar">
		<div class="nano">
			<div class="nano-content">
				<div>
					<ul class="list-inline nav-tab-panel clearfix" role="tablist">
						<li role="presentation" class="active"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Dự án</a></li>
						<li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Ban quản trị</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="projects">
							<ul class="sidebar-list">
								<li class="sidebar-title">
									<h3 class="font-100"> Current projects</h3>
									<small>There are <strong>7</strong> Current project</small>
								</li>
								<li>
									<a href="#">
										<span class="label label-primary pull-right">New</span>
										<h4>YII with material design</h4>
										<p>It is a long established fact that a reader will be distracted.</p>

										<div class="small">Completion with: 50%</div>
										<div class="progress progress-mini">
											<div style="width: 50%;" class="progress-bar progress-bar-warning"></div>
										</div>
										<div class="small text-danger">Deadline - September 15, 2016</div>
									</a>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="team">
							<ul class="list-unstyled sidebar-contact-list">
								{% for user in 1..5 %}
								<li class="clearfix">
									<a href="#" class="media-box">
										<span class="pull-right">
											<span class="circle circle-lg{% if user is even %} circle-success{% endif %}"></span>
										</span>
										<span class="pull-left">
											<img src="{{ T_THEME_PATH }}/images/no_avatar.png" alt="user" class="media-box-object img-circle" width="50">
										</span>
										<span class="media-box-body">
											<span class="media-box-heading">
												<strong>misen</strong>
												<br>
												<small class="text-muted">Nhóm phát triển</small>
											</span>
										</span>
									</a>
								</li>
								{% endfor %}
								<li>
									<div class="text-center">
										<a href="{{ U_TEAM }}" class="btn btn-primary btn-xs">{{ lang('VIEW_DETAILS') }}</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Menu -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown{% if S_INDEX %} active{% endif %}">
						<a href="{{ U_INDEX }}" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-home"></i> {{ lang('HOME') }}</a>
					</li>
					<li class="dropdown{% if S_BOARD or S_VIEWFORUM or S_VIEWTOPIC %} active{% endif %}">
						<a href="{{ U_BOARD }}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-bubbles"></i> {{ lang('BOARD') }}</a>
						{% if header_forums %}
						<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
							{% set TREE_LEVEL = 0 %}
							{% for forum in header_forums %}

							{# Category icon #}
							{% if forum.FORUM_ID == FORUM_ID_VIETNAMESE %}
								{% set CAT_ICON = 'icon-star' %}
							{% elseif forum.FORUM_ID == FORUM_ID_VIETNAMESE_SUPPORT %}
								{% set CAT_ICON = 'icon-heart' %}
							{% elseif forum.FORUM_ID == FORUM_ID_VIETNAMESE_EXT %}
								{% set CAT_ICON = 'icon-rocket' %}
							{% elseif forum.FORUM_ID == FORUM_ID_VIETNAMESE_STYLE %}
								{% set CAT_ICON = 'icon-layers' %}
							{% elseif forum.FORUM_ID == FORUM_ID_VIETNAMESE_TUTORIAL %}
								{% set CAT_ICON = 'icon-directions' %}
							{% elseif forum.FORUM_ID == FORUM_ID_VIETNAMESE_DISCUSSION %}
								{% set CAT_ICON = 'icon-bubbles' %}
							{% elseif forum.FORUM_ID == FORUM_ID_ENGLISH %}
								{% set CAT_ICON = 'icon-globe' %}
							{% elseif forum.FORUM_ID == FORUM_ID_ENGLISH_SUPPORT %}
								{% set CAT_ICON = 'icon-heart' %}
							{% elseif forum.FORUM_ID == FORUM_ID_ENGLISH_TUTORIAL %}
								{% set CAT_ICON = 'icon-directions' %}
							{% elseif forum.FORUM_ID == FORUM_ID_ENGLISH_DISCUSSION %}
								{% set CAT_ICON = 'icon-bubbles' %}
							{% else %}
								{% set CAT_ICON = 'icon-arrow-right-circle' %}
							{% endif %}

							{% if TREE_LEVEL > 1 and forum.PARENT_ID == 0 %}
							{% for i in 2..TREE_LEVEL %}
								</ul>
							</li>
							{% endfor %}
							{% endif %}

							{% if forum.PARENT_ID == 0 %}
								{% set TREE_LEVEL = 0 %}
							{% endif %}

							{% if LAST_HAS_SUBFORUMS is defined and not LAST_HAS_SUBFORUMS and LAST_PARENT_ID is defined and forum.PARENT_ID != LAST_PARENT_ID %}
								{% set TREE_LEVEL = max(0, TREE_LEVEL - 1) %}
								</ul>
							</li>
							{% endif %}

							{% if forum.S_HAS_SUBFORUMS %}
							<li class="dropdown-submenu">
								<a tabindex="-1" href="{{ forum.LINK }}"><i class="{{ CAT_ICON }}"></i> {{ forum.NAME }}</a>
								<ul class="dropdown-menu">
							{% else %}
									<li><a href="{{ forum.LINK }}">{{ forum.NAME }}</a></li>
							{% endif %}

							{% if loop.last and TREE_LEVEL %}
							{% for i in 1..TREE_LEVEL %}
								</ul>
							</li>
							{% endfor %}
							{% endif %}

							{% if forum.S_HAS_SUBFORUMS %}
								{% set TREE_LEVEL = TREE_LEVEL + 1 %}
							{% endif %}

							{% set LAST_PARENT_ID = forum.PARENT_ID %}
							{% set LAST_HAS_SUBFORUMS = forum.S_HAS_SUBFORUMS %}

							{% endfor %}
						</ul>
						{% endif %}
					</li>
					<li class="dropdown">
						<a href="http://vinabb.vn/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-settings fa-spin"></i> UI elements</a>
						<ul class="dropdown-menu dropdown-main dropdown-mega">
							<li>
								<div class="row">
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li><a href="#x"><i class="icon-graph"></i> Typography</a></li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li><a href="#y"><i class="icon-graph"></i> Grid system</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-mouse"></i> Components</a>
						<ul class="dropdown-menu dropdown-main">
							<li><a href="#"><i class="icon-graph"></i> Dashboard Alpha</a></li>
							<li><a href="#"><i class="icon-graph"></i> Dashboard beta</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<!-- Page content -->
	<div class="h-main-content">
		<div class="container">
