{% include 'overall_header.html' %}

<div class="row">
	<div class="panel panel-{{ S_UNREAD_POST ? 'danger' : 'default'}}">
		<div class="panel-body">
			<div class="pull-{{ S_RIGHT }}">
				{% if U_EDIT %}<a href="{{ U_EDIT }}" data-tooltip="true" title="{{ lang('EDIT_POST') }}" class="btn btn-primary btn-border btn-rounded btn-sm"><i class="fa fa-pencil"></i></a>{% endif %}
				{% if U_DELETE %}<a href="{{ U_DELETE }}" data-tooltip="true" title="{{ lang('DELETE_POST') }}" class="btn btn-danger btn-border btn-rounded btn-sm"><i class="fa fa-trash-o"></i></a>{% endif %}
				{% if U_REPORT %}<a href="{{ U_REPORT }}" data-tooltip="true" title="{{ lang('REPORT_POST') }}" class="btn btn-primary btn-border btn-rounded btn-sm"><i class="fa fa-bullhorn"></i></a>{% endif %}
				{% if U_WARN %}<a href="{{ U_WARN }}" data-tooltip="true" title="{{ lang('WARN_USER') }}" class="btn btn-warning btn-border btn-rounded btn-sm"><i class="fa fa-gavel"></i></a>{% endif %}
				{% if U_INFO %}<a href="{{ U_INFO }}" data-tooltip="true" title="{{ lang('INFORMATION') }}" class="btn btn-primary btn-border btn-rounded btn-sm"><i class="fa fa-paw"></i></a>{% endif %}
				{% if U_QUOTE %}<a href="{{ U_QUOTE }}" data-tooltip="true" title="{{ lang('REPLY_WITH_QUOTE') }}" class="btn btn-primary btn-border btn-rounded btn-sm"><i class="fa fa-quote-{{ S_RIGHT }}"></i></a>{% endif %}
			</div>
			<h3 class="font-300 text-{{ S_UNREAD_POST ? 'danger' : 'primary'}}">{{ POST_SUBJECT }}</h3>
			<hr class="clearfix">

			<div class="poster-info media margin-b-20">
				{% if POSTER_AVATAR %}
				<div class="avatar avatar-lg{% if S_ONLINE and not S_POST_HIDDEN %} avatar-online{% endif %} pull-{{ S_LEFT }} padding-0">
					<a href="{{ U_POSTER }}"><img alt="{{ POSTER_USERNAME }}" class="bg-light-dark" src="{{ POSTER_AVATAR }}"></a>
					{% if S_ONLINE and not S_POST_HIDDEN %}<i data-tooltip="true" data-placement="{{ S_LEFT }}" title="{{ lang('ONLINE') }}"></i>{% endif %}
				</div>
				{% else %}
				<div class="avatar avatar-letter-lg{% if S_ONLINE and not S_POST_HIDDEN %} avatar-online{% endif %} bg-{{ BG_COLOR ?: 'primary' }} pull-{{ S_LEFT }} padding-0">
					<a href="{{ U_POSTER }}"><span class="initials">{{ POSTER_USERNAME|slice(0, 2)|upper }}</span></a>
					{% if S_ONLINE and not S_POST_HIDDEN %}<i data-tooltip="true" data-placement="{{ S_LEFT }}" title="{{ lang('ONLINE') }}"></i>{% endif %}
				</div>
				{% endif %}

				{% set POSTER_INFO %}
				<strong>{{ lang('JOINED') ~ lang('COLON') }}</strong> {{ POSTER_JOINED }}<br>
				<strong>{{ lang('LAST_ACTIVE') ~ lang('COLON') }}</strong> {{ POSTER_LAST_ACTIVE }}<br>
				<strong>{{ lang('POSTS') ~ lang('COLON') }}</strong> {{ POSTER_POSTS }}
				{% endset %}

				<div class="media-body padding-20">
					<h4 class="text-danger font-400 margin-b-0" data-popover="true" data-placement="{{ S_RIGHT }}" title="{{ POST_AUTHOR }}" data-content="{{ POSTER_INFO }}">{{ POSTER }}</h4>
					{% if RANK_TITLE %}<small class="label label-{{ BG_COLOR ?: 'default' }}">{{ RANK_TITLE }}</small><br>{% endif %}
					<small class="text-muted">{{ POST_DATE }}</small>
				</div>
			</div>

			<div class="fontsize-15 text-justify">
				<p>{{ POST_TEXT }}</p>
			</div>

			<hr>

			<div class="inbox-attachments margin-b-20">
				<span>{{ SIGNATURE }}</span>
			</div>

			{% if S_UNREAD_POST %}
			<div class="ribbon ribbon-badge ribbon-reverse ribbon-bottom ribbon-danger">
				<span class="ribbon-inner">{{ lang('NEW') }}</span>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
