{% include 'overall_header.html' %}

{% if S_HAS_SUBFORUM %}
	{% include 'forumlist_body.html' %}
{% endif %}

{% if S_IS_POSTABLE %}
<div class="row">
	<div class="col-sm-2 mailbox-sidenav">
		<div class="clearfix margin-b-10">
			{% if S_IS_LOCKED %}
			<a href="{{ U_POST_NEW_TOPIC }}" class="btn btn-warning compose btn-block">
				<em class="fa fa-lock"></em>
				<span>{{ lang('FORUM_LOCKED') }}</span>
			</a>
			{% else %}
			<a href="{{ U_POST_NEW_TOPIC }}" class="btn btn-primary compose btn-block">
				<em class="fa fa-pencil"></em>
				<span>{{ lang('POST_TOPIC') }}</span>
			</a>
			{% endif %}
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li class="side-nav-header">
						<small class="text-muted">{{ lang('TAGS') }}</small>
					</li>
					<li>
						<a href="#">
							<span class="badge badge-success"></span>
							<span>3.2.x</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-10">
		<div class="clearfix margin-b-10 mail-right-buttons">
			{#<div class="btn-group pull-{{ S_LEFT }}">
				<button type="button" class="btn btn-default btn-sm">
					<em class="fa fa-mail-reply"></em>
				</button>
				<button type="button" class="btn btn-default btn-sm">
					<em class="fa fa-mail-reply-all"></em>
				</button>
				<button type="button" class="btn btn-default btn-sm">
					<em class="fa fa-mail-forward"></em>
				</button>
			</div>#}
			{% if U_WATCH_FORUM_LINK and not S_IS_BOT %}
			<div class="pull-{{ S_RIGHT }}">
				<a href="{{ U_WATCH_FORUM_LINK }}" data-tooltip="true" data-placement="{{ S_LEFT }}" title="{{ S_WATCH_FORUM_TITLE }}" class="btn btn-default btn-sm"><i class="fa {{ S_WATCHING_FORUM ? 'fa-check-square-o' : 'fa-square-o' }}"></i></a>
			</div>
			{% endif %}
		</div>

		{% if topicrow %}
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive margin-t-10">
					<table class="table table-hover table-maillist">
						{% for row in topicrow %}

						{% set TOPIC_ICON = 'fa-file-text-o' %}
						{% if row.S_TOPIC_LOCKED %}
							{% set TOPIC_ICON = 'fa-lock' %}
						{% elseif row.S_TOPIC_MOVED %}
							{% set TOPIC_ICON = 'fa-paper-plane-o' %}
						{% elseif row.S_POST_GLOBAL or row.S_POST_ANNOUNCE %}
							{% set TOPIC_ICON = 'fa-calendar-o' %}
						{% elseif row.S_POST_STICKY %}
							{% set TOPIC_ICON = 'fa-star' %}
						{% endif %}

						<tr>
							<td><i class="fa {{ TOPIC_ICON }} {{ (row.S_UNREAD_TOPIC and not S_IS_BOT) ? 'text-danger animate-pulse' : 'text-primary' }}"></i></td>
							<td><strong data-tooltip="true" data-placement="{{ S_LEFT }}" title="{{ lang('POSTED') ~ lang('COLON') ~ ' ' ~ row.FIRST_POST_TIME }}">{{ row.TOPIC_AUTHOR_FULL }}</strong><span class="label label-success pull-{{ S_RIGHT }}">3.2.x</span></td>
							<td><a href="{{ row.U_VIEW_TOPIC }}">{{ row.TOPIC_TITLE }}</a></td>
							<td><small data-tooltip="true" data-placement="{{ S_LEFT }}" title="{{ lang('VIEWS') }}"><i class="fa fa-eye"></i> {{ row.VIEWS }}</small></td>
							<td><small data-tooltip="true" data-placement="{{ S_RIGHT }}" title="{{ lang('REPLIES') }}"><i class="fa fa-comments"></i> {{ row.REPLIES }}</small></td>
							<td><strong data-tooltip="true" data-placement="{{ S_RIGHT }}" title="{{ row.LAST_POST_SUBJECT }}">{{ row.LAST_POST_AUTHOR_FULL }}</strong></td>
							<td class="mail-date">{{ row.LAST_POST_TIME }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		{% else %}
		<div class="panel panel-primary">
			<div class="panel-heading">{{ lang('INFORMATION') }}</div>
			<div class="panel-body">{{ lang('NO_TOPICS') }}</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}

{% include 'overall_footer.html' %}
