{#
<link href="{{ EXT_ASSETS_PATH }}/css/jquery.sceditor.monocons.min.css?v={{ T_ASSETS_VERSION }}" rel="stylesheet">
<script src="{{ EXT_ASSETS_PATH }}/js/jquery.sceditor.bbcode.min.js?v={{ T_ASSETS_VERSION }}"></script>

<script>
	$(
		function()
		{
			$('textarea').sceditor({
				plugins: 'bbcode',
				toolbar: 'bold,italic,underline|quote,code|bulletlist,orderedlist|image,link,unlink|removeformat,source',
				emoticonsEnabled: false,
				style: '{{ EXT_ASSETS_PATH }}/css/jquery.sceditor.monocons.min.css?v={{ T_ASSETS_VERSION }}'
			});
		}
	);
</script>
#}
