{% include 'embed_header.html' %}

<div>
	<span class="first">
		{{ SITENAME }}
		<span class="new"><i class="fa fa-chain-broken"></i></span>
	</span>
	<ul class="timeline">
		<li>
			<div class="avatar">
				<img src="{{ T_THEME_PATH }}/images/no_avatar.gif">
				<div class="hover">
					<div class="logo"><i class="fa fa-vimeo"></i></div>
				</div>
			</div>
			<div class="bubble-container">
				<div class="bubble">
					<div class="label-error">
						<div class="label-time">{{ lang('ERROR') }}</div>
					</div>
					<p>{{ ERROR }}</p>
				</div>
				<div class="arrow"></div>
			</div>
		</li>
	</ul>
</div>

{% include 'embed_footer.html' %}
