{% include 'embed_header.html' %}

<div>
	<span class="first">
		{{ POST_SUBJECT }}
		<span class="new"><i class="fa fa-file-text-o"></i></span>
	</span>
	<ul class="timeline">
		<li>
			<div class="avatar">
				<img src="http://www.croop.cl/UI/twitter/images/doug.jpg">
				<div class="hover">
					<div class="logo"><i class="fa fa-vimeo"></i></div>
				</div>
			</div>
			<div class="bubble-container">
				<div class="bubble">
					<div class="label">
						<div class="label-time">{{ POST_TIME }}</div>
					</div>
					<h3><i class="fa fa-user"></i> {{ POSTER }}</h3>
					<p>{{ POST_TEXT }}</p>
					<div class="over-bubble">
						<div class="back-link action"><i class="fa fa-external-link"></i></div>
					</div>
				</div>
				<div class="arrow"></div>
			</div>
		</li>
	</ul>
</div>

<script>
	$(document).ready(
		function()
		{
			$('.avatar').on('click',
				function()
				{
					window.open('{{ POSTER_URL }}');
				}
			);

			$('.bubble-container').on('click',
				function()
				{
					window.open('{{ POST_URL }}');
				}
			);
		}
	);
</script>

{% include 'embed_footer.html' %}
