/* CUSTOM */

/* Common */
.margin-t-0 {
	margin-top: 0px;
}

.margin-t-5 {
	margin-top: 5px;
}

.margin-t-10 {
	margin-top: 10px;
}

.margin-t-15 {
	margin-top: 15px;
}

.margin-t-20 {
	margin-top: 20px;
}

.opacity-90 {
	opacity: 0.9;
}

.opacity-80 {
	opacity: 0.8;
}

.opacity-70 {
	opacity: 0.7;
}

.opacity-60 {
	opacity: 0.6;
}

.opacity-50 {
	opacity: 0.5;
}

.font-md {
	font-size: 38px;
	line-height: 38px;
}

.fontsize-17 {
	font-size: 17px;
}

.fontsize-16 {
	font-size: 16px;
}

.fontsize-15 {
	font-size: 15px;
}

/* New background colors */
.bg-dark {
	background-color: #012b72 !important;
	border-color: #012b72 !important;
	color: #fff;
}

.bg-pink {
	background-color: #f77e93 !important;
	border-color: #f77e93 !important;
	color: #fff;
}

.bg-grey {
	background-color: #909fa7 !important;
	border-color: #909fa7 !important;
	color: #fff;
}

.bg-brown {
	background-color: #b38b63 !important;
	border-color: #b38b63 !important;
	color: #fff;
}

.bg-banalime {
	background-color: #9ACD32 !important;
	border-color: #9ACD32 !important;
	color: #fff;
}

.bg-tomato {
	background-color: #FF6347 !important;
	border-color: #FF6347 !important;
	color: #fff;
}

.bg-bluesky {
	background-color: #007bc8 !important;
	border-color: #007bc8 !important;
	color: #fff;
}

.bg-cyan {
	background-color: #00e6e6 !important;
	border-color: #00e6e6 !important;
	color: #fff;
}

.bg-smoke {
	background-color: #FEFEFE !important;
	border-color: #FEFEFE !important;
	color: #C0C0C0;
}

/* New text colors */
.text-yellow {
	color: #ffff00;
}

/* Social icons on footer */
.btn-icon-facebook {
	color: #3b5998 !important;
	&:hover {
		opacity: 0.8;
	}
}

.btn-icon-twitter {
	color: #55acee !important;
	&:hover {
		opacity: 0.8;
	}
}

.btn-icon-googleplus {
	color: #dd4b39 !important;
	&:hover {
		opacity: 0.8;
	}
}

.btn-icon-github {
	color: #171515 !important;
	&:hover {
		opacity: 0.8;
	}
}

/* Modify Bootstrap do not align external images */
img.external-img {
	vertical-align: inherit;
}

/* Auto-hover on large devices */
@media (min-width: 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
}

/* Animate-Pulse Effect for Font Awesome */
.animate-pulse {
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0%,
	30% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	40% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	50%,
	60% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	70% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100%,
	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0%,
	30% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	40% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	50%,
	60% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	70% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100%,
	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* Carousel */
.carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #fff;
	text-align: left;
	background: rgba(0,0,0,0.4);
}

.carousel-indicators {
	display:  none;
}

/* Media */
.poster-info {
	.media-body {
		width: auto;
	}
}

/* Popover */
.popover{
	max-width: 100%;
}

.popover-title {
	color: #777;
}

.popover-content {
	color: #777;
}

/* Avatar */
.avatar{
	position: relative;
	display: inline-block;
	width: 40px;
	white-space: nowrap;
	vertical-align: bottom;
	border-radius: 1000px;
	i {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		border-radius: 100%;
	}
	img {
		width: 100%;
		max-width: 100%;
		height: 100%;
		border: 0 none;
		border-radius: 1000px;
	}
}

.avatar-online i{
	background-color: $bg-success;
}

.avatar-off i{
	background-color: $bg-default;
}

.avatar-busy i{
	background-color: $bg-danger;
}

.avatar-lg {
	width: 100px;
	height: 100px;
	i {
		width: 20px;
		height: 20px;
	}
}

.avatar-md {
	width: 50px;
	height: 50px;
	i {
		width: 12px;
		height: 12px;
	}
}

.avatar-sm {
	width: 30px;
	height: 30px;
	i {
		width: 8px;
		height: 8px;
	}
}

.avatar-xs {
	width: 20px;
	height: 20px;
	i {
		width: 7px;
		height: 7px;
	}
}

/* 2-letter avatar */
@mixin avatar($size) {
	width: $size;
	height: $size;
	background-color: $bg-primary;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	.initials {
		position: relative;
		top: $size*0.25;
		font-size: $size*0.5;
		line-height: $size*0.5;
		color: #fff;
		font-family: "Courier New", monospace;
		font-weight: bold;
	}
	i {
		position: absolute;
		right: 0;
		bottom: 0;
		border: 2px solid #fff;
		border-radius: 100%;
	}
}

.avatar-letter-lg {
	@include avatar(100px);
	i {
		width: 20px;
		height: 20px;
	}
}

.avatar-letter-md {
	@include avatar(50px);
	i {
		width: 12px;
		height: 12px;
	}
}

.avatar-letter-sm {
	@include avatar(30px);
	i {
		width: 8px;
		height: 8px;
	}
}

.avatar-letter-xs {
	@include avatar(20px);
	i {
		width: 7px;
		height: 7px;
	}
}

/* OVERRIDE */

/* _base.scss */
a {
	color: $bg-primary;
	&:hover {
		color: $bg-info;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

strong, b {
	font-weight: 600 !important;
}

/* _panels.scss */
.panel-heading {
	text-transform: none;
}

/* _buttons.scss */
.btn {
	text-transform: none;
}

.btn-github {
	background-color: #424040 !important;
}

/* _page-header.scss */
.page-header {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 20px;
	border-bottom: 0;
	.breadcrumb {
		text-transform: none;
	}
}

/* _form-elements.scss */
label {
	font-weight: 500;
}

/* _modal-popups.scss */
.modal-header {
	.modal-title {
		text-transform: none;
	}
}

/* _layout-horizontal.scss */
body.layout-horizontal {
	.dropdown-menu.dropdown-main > li > a {
		text-transform: none;
	}
	.dropdown-menu.dropdown-mega ul > li > a, .dropdown-menu > li > a {
		text-transform: none;
	}
}

@media(min-width: 767px) {
	body.layout-horizontal {
		.navbar-default {
			.navbar-nav > li > a {
				i {
					font-size: 24px;
				}
			}
		}
	}
}

.dropdown-submenu:hover > a:after {
	border-left-color: $bg-primary;
}
