/**
* PACE 0.7.7
*
* Original: ./themes/white/pace-theme-flash.css
*/
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #ffffff;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;
}

.pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 15px;
	right: 15px;
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes pace-spinner {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes pace-spinner {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes pace-spinner {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes pace-spinner {
	0% {
		transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/**
* Vex 3.0.0
*
* Original: ./dist/css/vex.css
*/
@keyframes vex-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes vex-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes vex-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes vex-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes vex-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes vex-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes vex-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes vex-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes vex-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes vex-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes vex-rotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}

@-webkit-keyframes vex-rotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}

@-moz-keyframes vex-rotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}

@-ms-keyframes vex-rotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}

@-o-keyframes vex-rotation {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}

.vex,
.vex *,
.vex *:before,
.vex *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.vex {
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1111;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.vex-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.vex-overlay {
	background: #000;
	filter: alpha(opacity=40);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.vex-overlay {
	animation: vex-fadein 0.5s;
	-webkit-animation: vex-fadein 0.5s;
	-moz-animation: vex-fadein 0.5s;
	-ms-animation: vex-fadein 0.5s;
	-o-animation: vex-fadein 0.5s;
	-webkit-backface-visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.vex.vex-closing .vex-overlay {
	animation: vex-fadeout 0.5s;
	-webkit-animation: vex-fadeout 0.5s;
	-moz-animation: vex-fadeout 0.5s;
	-ms-animation: vex-fadeout 0.5s;
	-o-animation: vex-fadeout 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex-content {
	animation: vex-fadein 0.5s;
	-webkit-animation: vex-fadein 0.5s;
	-moz-animation: vex-fadein 0.5s;
	-ms-animation: vex-fadein 0.5s;
	-o-animation: vex-fadein 0.5s;
	-webkit-backface-visibility: hidden;
	background: #fff;
}

.vex.vex-closing .vex-content {
	animation: vex-fadeout 0.5s;
	-webkit-animation: vex-fadeout 0.5s;
	-moz-animation: vex-fadeout 0.5s;
	-ms-animation: vex-fadeout 0.5s;
	-o-animation: vex-fadeout 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex-close:before {
	font-family: Arial, sans-serif;
	content: "\00D7";
}

.vex-dialog-form {
	margin: 0;
}

.vex-dialog-button {
	text-rendering: optimizeLegibility;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.vex-loading-spinner {
	animation: vex-rotation 0.7s linear infinite;
	-webkit-animation: vex-rotation 0.7s linear infinite;
	-moz-animation: vex-rotation 0.7s linear infinite;
	-ms-animation: vex-rotation 0.7s linear infinite;
	-o-animation: vex-rotation 0.7s linear infinite;
	-webkit-backface-visibility: hidden;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 1112;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2em;
	width: 2em;
	background: #fff;
}

body.vex-open {
	overflow: hidden;
}

/**
* Vex 3.0.0
*
* Original: ./dist/css/vex-theme-top.css
* Modified: Replace button colors with $bg-primary and $bg-info
*/
@keyframes vex-dropin {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 0;
	}
	1% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 0;
	}
	2% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes vex-dropin {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 0;
	}
	1% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 0;
	}
	2% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 1;
	}
}

@-moz-keyframes vex-dropin {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 0;
	}
	1% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 0;
	}
	2% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 1;
	}
}

@-ms-keyframes vex-dropin {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 0;
	}
	1% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 0;
	}
	2% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 1;
	}
}

@-o-keyframes vex-dropin {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 0;
	}
	1% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 0;
	}
	2% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes vex-dropout {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	100% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
	}
}

@-webkit-keyframes vex-dropout {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	100% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
	}
}

@-moz-keyframes vex-dropout {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	100% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
	}
}

@-ms-keyframes vex-dropout {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	100% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
	}
}

@-o-keyframes vex-dropout {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	100% {
		transform: translateY(-800px);
		-webkit-transform: translateY(-800px);
		-moz-transform: translateY(-800px);
		-ms-transform: translateY(-800px);
		-o-transform: translateY(-800px);
	}
}

@keyframes vex-pulse {
	0% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
	70% {
		-moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
	}
	100% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
}

@-webkit-keyframes vex-pulse {
	0% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
	70% {
		-moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
	}
	100% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
}

@-moz-keyframes vex-pulse {
	0% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
	70% {
		-moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
	}
	100% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
}

@-ms-keyframes vex-pulse {
	0% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
	70% {
		-moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
	}
	100% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
}

@-o-keyframes vex-pulse {
	0% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
	70% {
		-moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
	}
	100% {
		-moz-box-shadow: inset 0 0 0 300px transparent;
		-webkit-box-shadow: inset 0 0 0 300px transparent;
		box-shadow: inset 0 0 0 300px transparent;
	}
}

.vex.vex-theme-top.vex-closing .vex-content {
	animation: vex-dropout 0.5s;
	-webkit-animation: vex-dropout 0.5s;
	-moz-animation: vex-dropout 0.5s;
	-ms-animation: vex-dropout 0.5s;
	-o-animation: vex-dropout 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex.vex-theme-top .vex-content {
	animation: vex-dropin 0.5s;
	-webkit-animation: vex-dropin 0.5s;
	-moz-animation: vex-dropin 0.5s;
	-ms-animation: vex-dropin 0.5s;
	-o-animation: vex-dropin 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex.vex-theme-top .vex-content {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	font-family: "Helvetica Neue", sans-serif;
	background: #f0f0f0;
	color: #444;
	padding: 1em;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	width: 450px;
	font-size: 1.1em;
	line-height: 1.5em;
}

.vex.vex-theme-top .vex-content h1,
.vex.vex-theme-top .vex-content h2,
.vex.vex-theme-top .vex-content h3,
.vex.vex-theme-top .vex-content h4,
.vex.vex-theme-top .vex-content h5,
.vex.vex-theme-top .vex-content h6,
.vex.vex-theme-top .vex-content p,
.vex.vex-theme-top .vex-content ul,
.vex.vex-theme-top .vex-content li {
	color: inherit;
}

.vex.vex-theme-top .vex-close {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.vex.vex-theme-top .vex-close:before {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	content: "\00D7";
	font-size: 26px;
	font-weight: normal;
	line-height: 31px;
	height: 30px;
	width: 30px;
	text-align: center;
	top: 3px;
	right: 3px;
	color: #bbb;
	background: transparent;
}

.vex.vex-theme-top .vex-close:hover:before,
.vex.vex-theme-top .vex-close:active:before {
	color: #777;
	background: #e0e0e0;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-message {
	margin-bottom: .5em;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-input {
	margin-bottom: 1em;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-input textarea,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="date"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="datetime"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="email"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="month"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="number"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="password"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="search"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="tel"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="text"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="time"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="url"],
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="week"] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	width: 100%;
	padding: .25em .67em;
	border: 0;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	min-height: 2.5em;
	margin: 0 0 .25em;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-input textarea:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="date"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="email"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="month"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="number"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="password"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="search"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="tel"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="text"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="time"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="url"]:focus,
.vex.vex-theme-top .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
	-moz-box-shadow: inset 0 0 0 2px $bg-info;
	-webkit-box-shadow: inset 0 0 0 2px $bg-info;
	box-shadow: inset 0 0 0 2px $bg-info;
	outline: none;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-buttons {
	*zoom: 1;
}

.vex.vex-theme-top .vex-dialog-form .vex-dialog-buttons:after {
	content: "";
	display: table;
	clear: both;
}

.vex.vex-theme-top .vex-dialog-button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	float: right;
	margin: 0 0 0 .5em;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .8em;
	line-height: 1em;
	padding: .75em 2em;
}

.vex.vex-theme-top .vex-dialog-button.vex-last {
	margin-left: 0;
}

.vex.vex-theme-top .vex-dialog-button:focus {
	animation: vex-pulse 1.1s infinite;
	-webkit-animation: vex-pulse 1.1s infinite;
	-moz-animation: vex-pulse 1.1s infinite;
	-ms-animation: vex-pulse 1.1s infinite;
	-o-animation: vex-pulse 1.1s infinite;
	-webkit-backface-visibility: hidden;
	outline: none;
}

@media (max-width: 568px) {
	.vex.vex-theme-top .vex-dialog-button:focus {
		animation: none;
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		-webkit-backface-visibility: hidden;
	}
}

.vex.vex-theme-top .vex-dialog-button.vex-dialog-button-primary {
	background: $bg-primary;
	color: #fff;
}

.vex.vex-theme-top .vex-dialog-button.vex-dialog-button-secondary {
	background: #e0e0e0;
	color: #777;
}

.vex-loading-spinner.vex-theme-top {
	-moz-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background: #f0f0f0;
	border: .2em solid transparent;
	border-top-color: #bbb;
	top: -1.1em;
	bottom: auto;
}

/**
* iCheck 1.0.2
*
* Original: ./skins/flat/blue.css
* Modified: Path of images
*/
.icheckbox_flat-blue,
.iradio_flat-blue {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url('../images/icheck/blue.png') no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_flat-blue {
	background-position: 0 0;
}

.icheckbox_flat-blue.checked {
	background-position: -22px 0;
}

.icheckbox_flat-blue.disabled {
	background-position: -44px 0;
	cursor: default;
}

.icheckbox_flat-blue.checked.disabled {
	background-position: -66px 0;
}

.iradio_flat-blue {
	background-position: -88px 0;
}

.iradio_flat-blue.checked {
	background-position: -110px 0;
}

.iradio_flat-blue.disabled {
	background-position: -132px 0;
	cursor: default;
}

.iradio_flat-blue.checked.disabled {
	background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
	.icheckbox_flat-blue,
	.iradio_flat-blue {
		background-image: url('../images/icheck/blue@2x.png');
		-webkit-background-size: 176px 22px;
		background-size: 176px 22px;
	}
}

/**
* Highlight.js 9.8.0
*
* Original: ./styles/github-gist.css
*/

/**
* GitHub Gist Theme
* Author: Louis Barranqueiro - https://github.com/LouisBarranqueiro
*/
.hljs {
	display: block;
	background: white;
	padding: 0.5em;
	color: #333333;
	overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
	color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
	color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
	color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
	color: #0086b3;
}

.hljs-section,
.hljs-name {
	color: #63a35c;
}

.hljs-tag {
	color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #795da3;
}

.hljs-addition {
	color: #55a532;
	background-color: #eaffea;
}

.hljs-deletion {
	color: #bd2c00;
	background-color: #ffecec;
}

.hljs-link {
	text-decoration: underline;
}

/**
* SCEditor 1.5.1
*
* (Modified)
*/
html.sceditor-maximized {
	overflow: hidden;
}

div.sceditor-grip, .sceditor-button div {
	width: 16px;
	height: 16px;
}

.sceditor-button div:after {
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5rem;
}

.sceditor-button-bold div:after {
	content: "\f032";
}

.sceditor-button-italic div:after {
	content: "\f033";
}

.sceditor-button-underline div:after {
	content: "\f0cd";
}

.sceditor-button-strike div:after {
	content: "\f0cc";
}

.sceditor-button-superscript div:after {
	content: "\f12b";
}

.sceditor-button-subscript div:after {
	content: "\f12c";
}

.sceditor-button-size div:after {
	content: "\f034";
}

.sceditor-button-color div:after {
	content: "\f1fb";
}

.sceditor-button-removeformat div:after {
	content: "\f12d";
}

.sceditor-button-left div:after {
	content: "\f036";
}

.sceditor-button-center div:after {
	content: "\f037";
}

.sceditor-button-right div:after {
	content: "\f038";
}

.sceditor-button-justify div:after {
	content: "\f039";
}

.sceditor-button-bulletlist div:after {
	content: "\f0ca";
}

.sceditor-button-orderedlist div:after {
	content: "\f0cb";
}

.sceditor-button-table div:after {
	content: "\f0ce";
}

.sceditor-button-quote div:after {
	content: "\f10e";
}

.sceditor-button-code div:after {
	content: "\f121";
}

.sceditor-button-emoticon div:after {
	content: "\f118";
	font-size: 1.6rem;
	text-align: center;
	width: 100%;
	top: -1px;
	left: 1px;
}

.sceditor-button-image div:after {
	content: "\f03e";
}

.sceditor-button-link div:after {
	content: "\f0c1";
}

.sceditor-button-unlink div:after {
	content: "\f127";
}

.sceditor-button-source div:after {
	content: "\f120";
}

.sceditor-button-maximize div:after {
	content: "\f065";
}

.sceditor-maximize .sceditor-button-maximize div:after {
	content: "\f066";
}

div.sceditor-grip {
	width: 10px;
	height: 10px;
}

div.sceditor-grip:after {
	font-size: 15px;
	content: "\f141" "\f141";
	position: absolute;
	top: -3px;
	left: 50%;
	width: 100px;
	text-align: center;
	margin-left: -50px;
	letter-spacing: -2.4px;
}

.sourceMode div.sceditor-grip:after {
	color: #969696;
}

/**
* LESS Elements 0.7
*
* A set of useful LESS mixins
* More info at: http://lesselements.com
*/
.sceditor-container {
	width: 100% !important;
	position: relative;
	background: #fff;
	line-height: 1;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.sceditor-container *,
.sceditor-container *:before,
.sceditor-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.sceditor-container,
.sceditor-container div,
div.sceditor-dropdown,
div.sceditor-dropdown div {
	margin: 0;
	z-index: 3;
}

.sceditor-container iframe,
.sceditor-container textarea {
	line-height: 1;
	outline: none;
	font-family: -apple-system, "Helvetica Neue", "Roboto", "Segoe UI", "Helvetica", sans-serif;
	margin: 0;
	padding: 8px 10px;
	resize: none;
	background: #fff;
	display: block;
	border: 1px solid #E7E7E7;
	border-width: 0 4px;
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sceditor-container.sourceMode textarea,
.sceditor-container.sourceMode textarea:focus {
	background-color: #444348;
	border-color: #333333;
	color: white;
	font-weight: normal;
	font-size: 1.4rem;
	font-family: consolas,monospace;
}

div.sceditor-resize-cover {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0.3;
}

.ie6 div.sceditor-resize-cover,
.ie7 div.sceditor-resize-cover,
.ie8 div.sceditor-resize-cover {
	background: #efefef;
}

.sceditor-container.ie6 {
	overflow: hidden;
}

div.sceditor-grip {
	overflow: hidden;
	width: 100%;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #E7E7E7;
	z-index: 3;
	background-image: none;
	cursor: n-resize;
}

div.sceditor-grip:hover {
	background-color: #dfdfdf;
}

.sourceMode div.sceditor-grip {
	background: #2C2B2F;
	border-color: #333333;
}

.sourceMode div.sceditor-grip:hover {
	background-color: #242424;
}

.sceditor-container {
	padding-bottom: 9px !important;
}

.sceditor-container.sceditor-maximize {
	padding-bottom: 0 !important;
}

.sceditor-maximize {
	position: fixed;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
	border-radius: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 2000;
}

html.sceditor-maximize,
body.sceditor-maximize {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.ie6.sceditor-maximize {
	position: absolute;
}

.sceditor-maximize div.sceditor-grip {
	display: none;
}

.sceditor-maximize div.sceditor-toolbar {
	border-radius: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
* Dropdown styleing
*/
div.sceditor-dropdown {
	position: absolute;
	border: 1px solid #ccc;
	background: #fff;
	color: #333;
	z-index: 4000;
	padding: 10px;
	line-height: 1;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

div.sceditor-dropdown a,
div.sceditor-dropdown a:link {
	color: #333;
}

div.sceditor-dropdown form {
	margin: 0;
}

div.sceditor-dropdown label {
	display: block;
	font-weight: bold;
	color: #3c3c3c;
	padding: 4px 0;
}

div.sceditor-dropdown textarea {
	padding: 6px;
}

div.sceditor-dropdown .button {
	font-weight: 500;
	color: #444;
	padding: 10px 12px;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	margin: 10px 0 0;
}

div.sceditor-dropdown .button:hover {
	background: #f3f3f3;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

div.sceditor-font-picker,
div.sceditor-fontsize-picker,
div.sceditor-format {
	padding: 6px 0;
}

div.sceditor-emoticons,
div.sceditor-more-emoticons,
div.sceditor-color-picker {
	padding: 0;
}

.sceditor-pastetext textarea {
	border: 1px solid #bbb;
	width: 20em;
}

.sceditor-emoticons img,
.sceditor-more-emoticons img {
	cursor: pointer;
	margin: 2px;
}

div.sceditor-emoticons > div {
	padding: 5px;
}

.sceditor-more {
	border-top: 1px solid #bbb;
	display: block;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 0;
}

.sceditor-dropdown a:hover {
	background: #eee;
}

.sceditor-fontsize-option,
.sceditor-font-option,
.sceditor-format a {
	display: block;
	padding: 7px 10px;
	cursor: pointer;
	text-decoration: none;
	color: #222;
}

.sceditor-fontsize-option {
	padding: 7px 13px;
}

.sceditor-color-column {
	float: left;
	width: 210px;
	padding: 5px !important;
}

.sceditor-color-option {
	display: inline-block;
	border: 1px solid #fff;
	height: 25px;
	width: 25px;
	overflow: hidden;
	margin-bottom: -1px;
}

.sceditor-color-option[data-color="#fff"] {
	-webkit-box-shadow: inset 0 0 0 1px #aaa;
	box-shadow: inset 0 0 0 1px #aaa;
}

.sceditor-color-option:hover {
	border: 1px solid #333;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
* Toolbar styleing
*/
div.sceditor-toolbar {
	overflow: hidden;
	background: #E7E7E7;
	border: 0;
	line-height: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 3px 1px;
}

.sceditor-maximize div.sceditor-toolbar {
	border-top: 0;
}

div.sceditor-group {
	display: inline-block;
	padding: 3px 5px 3px 4px;
	height: 28px;
	border-right: 1px solid #C1C1C1;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

div.sceditor-group:last-child {
	border: 0;
}

.ie6 div.sceditor-group,
.ie7 div.sceditor-group {
	display: inline;
	zoom: 1;
}

.sceditor-button {
	border-radius: 2px;
	float: left;
	cursor: pointer;
	padding: 4px 7px;
	margin-right: 1px;
	position: relative;
	width: 16px;
	height: 20px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* Needed for Safari 5? */
	text-indent: -9999px;
}

.ie .sceditor-button {
	text-indent: 0;
}

.ie6 .sceditor-button,
.ie7 .sceditor-button {
	float: none !important;
	display: inline;
	zoom: 1;
}

.ie6 .sceditor-button {
	padding: 0;
}

.ie6 .sceditor-button div {
	margin: 5px;
}

.ie7 .sceditor-button div {
	margin: 5px 0;
}

.sceditor-button:hover {
	background: rgba(0, 0, 0, 0.08);
}

.sceditor-button.active {
	background-color: #03b4ff;
}

.sceditor-button.active div {
	color: #fff;
}

.sceditor-button.disabled:hover {
	background: inherit;
	cursor: not-allowed;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sceditor-button,
.sceditor-button div {
	display: block;
}

.sceditor-button div {
	margin: 2px 0;
	padding: 0;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	color: #444;
	background-image: none;
	position: relative;
}

.sceditor-button.disabled div {
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.text .sceditor-button,
.text .sceditor-button div,
.sceditor-button.text,
.sceditor-button.text div,
.text-icon .sceditor-button,
.text-icon .sceditor-button div,
.sceditor-button.text-icon,
.sceditor-button.text-icon div {
	width: auto;
	overflow: visible;
	line-height: 16px;
	font-size: 1em;
	color: inherit;
	text-indent: 0;
}

.text .sceditor-button div,
.sceditor-button.text div {
	padding: 0 2px;
	background: none;
}

.text-icon .sceditor-button div,
.sceditor-button.text-icon div {
	padding: 0 2px 0 20px;
}

.rtl div.sceditor-grip {
	right: auto;
	left: 0;
}

.sceditor-insertimage div {
	display: none;
}

.sceditor-insertimage div:first-child, .sceditor-insertimage div:last-child {
	display: block;
}

/* Content font */
.sceditor-container iframe,
.sceditor-container textarea {
	font-family: -apple-system, "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 1.4rem;
	line-height: 1.6;
}

/* Font icon */
.sceditor-button div:after, div.sceditor-grip:after {
	display: inline-block;
	font-family: 'FontAwesome';
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
