{% include 'overall_header.html' %}

<h1>{{ lang('ACP_PAGES') }}</h1>
<p>{{ lang('ACP_PAGES_EXPLAIN') }}</p>

<form id="acp_pages" method="post" action="{{ U_ACTION }}">
	<fieldset class="quick">
		<input class="button2" type="submit" value="{{ lang('ADD_PAGE') }}">
		<input type="hidden" name="action" value="add">
	</fieldset>
</form>

<table class="table1 zebra-table">
	<thead>
		<tr>
			<th>{{ lang('PAGE_NAME') }}</th>
			<th>{{ lang('PAGE_NAME') ~ ' (' ~ lang('VIETNAMESE') ~ ')' }}</th>
			<th>{{ lang('PAGE_VARNAME') }}</th>
			<th>{{ lang('PAGE_ENABLE') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for page in pages %}
		<tr>
			<td>{{ page.NAME }}</td>
			<td>{{ page.NAME_VI }}</td>
			<td>{{ page.VARNAME }}</td>
			<td style="text-align: center;">{{ page.ENABLE ? lang('YES') : lang('NO') }}</td>
			<td class="actions">
				<a href="{{ page.U_EDIT }}">{{ ICON_EDIT }}</a>
				<a href="{{ page.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="5" style="text-align: center;">{{ lang('ACP_NO_ITEMS') }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include 'overall_footer.html' %}
