{% include 'overall_header.html' %}

{% if S_EDIT %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{{ lang('ACP_PORTAL_CATS') }}</h1>
	<p>{{ lang('ACP_PORTAL_CATS_EXPLAIN') }}</p>

	<form id="acp_portal_categories_edit" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('EDIT_PORTAL_CAT') }}</legend>
			<dl>
				<dt><label for="cat_name">{{ lang('PORTAL_CAT_NAME') ~ ' (' ~ lang('ENGLISH') ~ ')' ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="cat_name" id="cat_name" value="{{ CAT_NAME }}" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="cat_name_vi">{{ lang('PORTAL_CAT_NAME') ~ ' (' ~ lang('VIETNAMESE') ~ ')' ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="cat_name_vi" id="cat_name_vi" value="{{ CAT_NAME_VI }}" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="cat_varname">{{ lang('PORTAL_CAT_VARNAME') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="cat_varname" id="cat_varname" value="{{ CAT_VARNAME }}" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="cat_icon">{{ lang('PORTAL_CAT_ICON') ~ lang('COLON') }}</label><br><span>{{ lang('PORTAL_CAT_ICON_EXPLAIN') }}</span></dt>
				<dd><input type="text" name="cat_icon" id="cat_icon" value="{{ CAT_ICON }}" maxlength="255"></dd>
			</dl>
			{{ S_HIDDEN_FIELDS }}

			<p class="submit-buttons">
				<input class="button1" type="submit" name="save" value="{{ lang('SUBMIT') }}">
				<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}">
				{{ S_FORM_TOKEN }}
			</p>
		</fieldset>
	</form>

{% else %}

	<h1>{{ lang('ACP_PORTAL_CATS') }}</h1>
	<p>{{ lang('ACP_PORTAL_CATS_EXPLAIN') }}</p>

	<form id="acp_portal_categories" method="post" action="{{ U_ACTION }}">
		<p class="quick">
			{{ S_HIDDEN_FIELDS }}
			<input class="button2" name="add" type="submit" value="{{ lang('ADD_PORTAL_CAT') }}">
		</p>
	</form>

	{% if pagination %}
	<div class="pagination">
		<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('TOTAL_PORTAL_CATS', TOTAL_CATS) }}</span>
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table">
		<thead>
		<tr>
			<th>{{ lang('PORTAL_CAT_NAME') }}</th>
			<th>{{ lang('PORTAL_CAT_NAME') ~ ' (' ~ lang('VIETNAMESE') ~ ')' }}</th>
			<th>{{ lang('PORTAL_CAT_VARNAME') }}</th>
			<th>{{ lang('TOTAL_ARTICLES') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for cat in cats %}
		<tr>
			<td style="text-align: center;">{{ cat.NAME }}</td>
			<td style="text-align: center;">{{ cat.NAME_VI }}</td>
			<td style="text-align: center;">{{ cat.VARNAME }}</td>
			<td style="text-align: center;">{{ cat.ARTICLES }}</td>
			<td class="actions">
				<span class="up-disabled" style="display:none;">{{ ICON_MOVE_UP_DISABLED }}</span>
				<span class="up"><a href="{{ cat.U_MOVE_UP }}" data-ajax="row_up">{{ ICON_MOVE_UP }}</a></span>
				<span class="down-disabled" style="display:none;">{{ ICON_MOVE_DOWN_DISABLED }}</span>
				<span class="down"><a href="{{ cat.U_MOVE_DOWN }}" data-ajax="row_down">{{ ICON_MOVE_DOWN }}</a></span>
				<a href="{{ cat.U_EDIT }}">{{ ICON_EDIT }}</a>
				<a href="{{ cat.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
			</td>
		</tr>
		{% else %}
		<tr class="row3">
			<td colspan="5">{{ lang('ACP_NO_ITEMS') }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
	<div class="pagination">
		<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('TOTAL_PORTAL_CATS', TOTAL_CATS) }}</span>
		{% include 'pagination.html' %}
	</div>
	{% endif %}

{% endif %}

{% include 'overall_footer.html' %}
