{% include 'overall_header.html' %}

<h1>{{ PAGE_TITLE }}</h1>
<p>{{ PAGE_TITLE_EXPLAIN }}</p>

{% if ERRORS %}
<div class="errorbox">
	<h3>{{ lang('ERROR') }}</h3>
	<p>{{ ERRORS }}</p>
</div>
{% endif %}

<form id="{{ FORM_NAME }}" method="post" action="{{ U_ACTION }}">
	{% for group in groups %}
	<fieldset>
		<legend>{{ group.LEGEND }}</legend>
		{% for row in group.rows %}
		<dl>
			<dt><label for="{{ row.FIELD }}">{{ row.TITLE ~ lang('COLON') }}</label>{% if row.EXPLAIN %}<br><span>{{ row.EXPLAIN }}</span>{% endif %}</dt>
			<dd>{% if row.PREPEND %}{{ row.PREPEND }} {% endif %}{{ row.HTML }}{% if row.APPEND %} {{ row.APPEND }}{% endif %}</dd>
			{% if row.EXTRA %}<dd>{{ row.EXTRA }}</dd>{% endif %}
		</dl>
		{% endfor %}
	</fieldset>
	{% endfor %}
	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
