{% include 'overall_header.html' %}

<script>
	var form_name = 'acp_pages';
	var text_name = 'page_text';
	var load_draft = false;
	var upload = false;
	var imageTag = false;
</script>

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ PAGE_TITLE }}</h1>
<p>{{ lang('ACP_PAGES_EXPLAIN') }}</p>

{% if ERRORS %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERRORS }}</p>
</div>
{% endif %}

<form id="acp_pages" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('PAGE_DETAILS') }}</legend>
		<dl>
			<dt><label for="page_name">{{ lang('PAGE_NAME') ~ ' (' ~ lang('ENGLISH') ~ ')' ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" name="page_name" id="page_name" value="{{ PAGE_NAME }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="page_name_vi">{{ lang('PAGE_NAME') ~ ' (' ~ lang('VIETNAMESE') ~ ')' ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" name="page_name_vi" id="page_name_vi" value="{{ PAGE_NAME_VI }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="page_varname">{{ lang('PAGE_VARNAME') ~ lang('COLON') }}</label></dt>
			<dd><input class="text" type="text" name="page_varname" id="page_varname" value="{{ PAGE_VARNAME }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="page_enable">{{ lang('ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable" id="page_enable" value="1"{% if PAGE_ENABLE %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable" value="0"{% if not PAGE_ENABLE %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('PAGE_TEXT') }}</legend>

		{% include 'acp_posting_buttons.html' %}

		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px;">
				<textarea name="page_text" rows="27" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{{ PAGE_TEXT }}</textarea>
			</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 5px;">
				<label><input type="checkbox" class="radio" name="text_bbcode"{% if PAGE_TEXT_BBCODE %} checked{% endif %}> {{ lang('PARSE_BBCODE') }}</label>
				<label><input type="checkbox" class="radio" name="text_smilies"{% if PAGE_TEXT_SMILIES %} checked{% endif %}> {{ lang('PARSE_SMILIES') }}</label>
				<label><input type="checkbox" class="radio" name="text_urls"{% if PAGE_TEXT_URLS %} checked{% endif %}> {{ lang('PARSE_URLS') }}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_CAT_PERMISSIONS') }}</legend>
		<dl>
			<dt><label for="page_enable_guest">{{ lang('G_GUESTS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_guest" id="page_enable_guest" value="1"{% if PAGE_ENABLE_GUEST %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_guest" value="0"{% if not PAGE_ENABLE_GUEST %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_bot">{{ lang('G_BOTS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_bot" id="page_enable_bot" value="1"{% if PAGE_ENABLE_BOT %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_bot" value="0"{% if not PAGE_ENABLE_BOT %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_new_user">{{ lang('G_NEWLY_REGISTERED') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_new_user" id="page_enable_new_user" value="1"{% if PAGE_ENABLE_NEW_USER %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_new_user" value="0"{% if not PAGE_ENABLE_NEW_USER %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_user">{{ lang('G_REGISTERED') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_user" id="page_enable_user" value="1"{% if PAGE_ENABLE_USER %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_user" value="0"{% if not PAGE_ENABLE_USER %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_mod">{{ lang('MODERATORS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_mod" id="page_enable_mod" value="1"{% if PAGE_ENABLE_MOD %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_mod" value="0"{% if not PAGE_ENABLE_MOD %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_global_mod">{{ lang('G_GLOBAL_MODERATORS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_global_mod" id="page_enable_global_mod" value="1"{% if PAGE_ENABLE_GLOBAL_MOD %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_global_mod" value="0"{% if not PAGE_ENABLE_GLOBAL_MOD %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_admin">{{ lang('G_ADMINISTRATORS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_admin" id="page_enable_admin" value="1"{% if PAGE_ENABLE_ADMIN %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_admin" value="0"{% if not PAGE_ENABLE_ADMIN %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="page_enable_founder">{{ lang('G_FOUNDERS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="page_enable_founder" id="page_enable_founder" value="1"{% if PAGE_ENABLE_FOUNDER %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="page_enable_founder" value="0"{% if not PAGE_ENABLE_FOUNDER %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}">
		<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
