{% include 'overall_header.html' %}

<h1>{{ lang('ACP_PORTAL_ARTICLES') }}</h1>
<p>{{ lang('ACP_PORTAL_ARTICLES_EXPLAIN') }}</p>

<form id="acp_portal_articles" method="post" action="{{ U_ACTION }}">
	<fieldset class="quick">
		<input class="button2" type="submit" value="{{ lang('ADD_ARTICLE') }}">
		<input type="hidden" name="action" value="add">
	</fieldset>
</form>

{% if pagination %}
<div class="pagination">
	<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('COUNTER_ARTICLE', TOTAL_ARTICLES) }}</span>
	{% include 'pagination.html' %}
</div>
{% endif %}

<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ lang('ARTICLE_NAME') }}</th>
		<th>{{ lang('CATEGORY') }}</th>
		<th>{{ lang('VIEWS') }}</th>
		<th>{{ lang('COMMENTS') }}</th>
		<th>{{ lang('ACTIONS') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for article in articles %}
	<tr>
		<td style="text-align: center;">{{ article.NAME }}</td>
		<td style="text-align: center;">{{ article.CATEGORY }}</td>
		<td style="text-align: center;">{{ article.VIEWS }}</td>
		<td style="text-align: center;">{{ article.COMMENTS }}</td>
		<td class="actions">
			<a href="{{ article.U_EDIT }}">{{ ICON_EDIT }}</a>
			<a href="{{ article.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
		</td>
	</tr>
	{% else %}
	<tr class="row3">
		<td colspan="5">{{ lang('ACP_NO_ITEMS') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% if pagination %}
<div class="pagination">
	<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('COUNTER_ARTICLE', TOTAL_ARTICLES) }}</span>
	{% include 'pagination.html' %}
</div>
{% endif %}

{% include 'overall_footer.html' %}
