{% include 'overall_header.html' %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ PAGE_TITLE }}</h1>
<p>{{ PAGE_TITLE_EXPLAIN }}</p>

{% if ERRORS %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERRORS }}</p>
</div>
{% endif %}

<form id="acp_bb_items" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ ITEM_DETAILS_LANG }}</legend>
		<dl>
			<dt><label for="item_name">{{ ITEM_NAME_LANG ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" name="item_name" id="item_name" value="{{ ITEM_NAME }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="item_varname">{{ ITEM_VARNAME_LANG ~ lang('COLON') }}</label></dt>
			<dd><input class="text" type="text" name="item_varname" id="item_varname" value="{{ ITEM_VARNAME }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="cat_id">{{ lang('CATEGORY') ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="cat_id" id="cat_id">
					<option value="0">{{ lang('NONE') }}</option>
					{% for option in cat_options %}
					<option value="{{ option.ID }}"{% if option.S_SELECTED %} selected{% endif %}>{{ option.NAME }}{% if option.NAME_VI != option.NAME %} ({{ option.NAME_VI }}){% endif %}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="author_id">{{ AUTHOR_LANG ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="author_id" id="author_id">
					<option value="0">{{ lang('NONE') }}</option>
					{% for option in author_options %}
					<option value="{{ option.ID }}"{% if option.S_SELECTED %} selected{% endif %}>{{ option.NAME }}{{ (option.FIRSTNAME or option.LASTNAME) ? ' (' ~ option.FIRSTNAME ~ (option.LASTNAME ? ' ' ~ option.LASTNAME : '') ~ ')' : '' }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_price">{{ lang('PRICE') ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="item_price" id="item_price" value="{{ ITEM_PRICE }}" min="0"></dd>
		</dl>
		<dl>
			<dt><label for="item_url">{{ lang('ORIGINAL_URL') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="url" name="item_url" id="item_url" value="{{ ITEM_URL }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="item_github">{{ lang('GITHUB') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="url" name="item_github" id="item_github" value="{{ ITEM_GITHUB }}" maxlength="255"></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('DESCRIPTION') }}</legend>
		<dl>
			<dt><label for="item_desc">{{ lang('ENGLISH') ~ lang('COLON') }}</label></dt>
			<dd><textarea name="item_desc" id="item_desc" cols="40" rows="10">{{ ITEM_DESC }}</textarea></dd>
			<dd>
				<label><input type="checkbox" class="radio" name="desc_bbcode"{% if ITEM_DESC_BBCODE %} checked{% endif %}> {{ lang('PARSE_BBCODE') }}</label>
				<label><input type="checkbox" class="radio" name="desc_smilies"{% if ITEM_DESC_SMILIES %} checked{% endif %}> {{ lang('PARSE_SMILIES') }}</label>
				<label><input type="checkbox" class="radio" name="desc_urls"{% if ITEM_DESC_URLS %} checked{% endif %}> {{ lang('PARSE_URLS') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_desc_vi">{{ lang('VIETNAMESE') ~ lang('COLON') }}</label></dt>
			<dd><textarea name="item_desc_vi" id="item_desc_vi" cols="40" rows="10">{{ ITEM_DESC_VI }}</textarea></dd>
			<dd>
				<label><input type="checkbox" class="radio" name="desc_vi_bbcode"{% if ITEM_DESC_VI_BBCODE %} checked{% endif %}> {{ lang('PARSE_BBCODE') }}</label>
				<label><input type="checkbox" class="radio" name="desc_vi_smilies"{% if ITEM_DESC_VI_SMILIES %} checked{% endif %}> {{ lang('PARSE_SMILIES') }}</label>
				<label><input type="checkbox" class="radio" name="desc_vi_urls"{% if ITEM_DESC_VI_URLS %} checked{% endif %}> {{ lang('PARSE_URLS') }}</label>
			</dd>
		</dl>
	</fieldset>
	{% if MODE == 'ext' %}
	<fieldset>
		<legend>{{ lang('ITEM_EXT_DETAILS') }}</legend>
		<dl>
			<dt><label for="item_ext_style">{{ lang(['EXT_PROPERTIES', 'STYLE']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'STYLE']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_style" id="item_ext_style" value="1"{% if ITEM_EXT_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_style" value="0"{% if not ITEM_EXT_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_acp_style">{{ lang(['EXT_PROPERTIES', 'ACP_STYLE']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'ACP_STYLE']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_acp_style" id="item_ext_acp_style" value="1"{% if ITEM_EXT_ACP_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_acp_style" value="0"{% if not ITEM_EXT_ACP_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_lang">{{ lang(['EXT_PROPERTIES', 'LANG']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'LANG']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_lang" id="item_ext_lang" value="1"{% if ITEM_EXT_LANG %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_lang" value="0"{% if not ITEM_EXT_LANG %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_db_schema">{{ lang(['EXT_PROPERTIES', 'DB_SCHEMA']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'DB_SCHEMA']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_db_schema" id="item_ext_db_schema" value="1"{% if ITEM_EXT_DB_SCHEMA %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_db_schema" value="0"{% if not ITEM_EXT_DB_SCHEMA %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_db_data">{{ lang(['EXT_PROPERTIES', 'DB_DATA']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'DB_DATA']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_db_data" id="item_ext_db_data" value="1"{% if ITEM_EXT_DB_DATA %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_db_data" value="0"{% if not ITEM_EXT_DB_DATA %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_event">{{ lang(['EXT_PROPERTIES', 'EVENT']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'EVENT']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_event" id="item_ext_event" value="1"{% if ITEM_EXT_EVENT %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_event" value="0"{% if not ITEM_EXT_EVENT %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_event_style">{{ lang(['EXT_PROPERTIES', 'EVENT_STYLE']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'EVENT_STYLE']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_event_style" id="item_ext_event_style" value="1"{% if ITEM_EXT_EVENT_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_event_style" value="0"{% if not ITEM_EXT_EVENT_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_event_acp_style">{{ lang(['EXT_PROPERTIES', 'EVENT_ACP_STYLE']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'EVENT_ACP_STYLE']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_event_acp_style" id="item_ext_event_acp_style" value="1"{% if ITEM_EXT_EVENT_ACP_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_event_acp_style" value="0"{% if not ITEM_EXT_EVENT_ACP_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_module_acp">{{ lang(['EXT_PROPERTIES', 'MODULE_ACP']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'MODULE_ACP']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_module_acp" id="item_ext_module_acp" value="1"{% if ITEM_EXT_MODULE_ACP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_module_acp" value="0"{% if not ITEM_EXT_MODULE_ACP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_module_mcp">{{ lang(['EXT_PROPERTIES', 'MODULE_MCP']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'MODULE_MCP']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_module_mcp" id="item_ext_module_mcp" value="1"{% if ITEM_EXT_MODULE_MCP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_module_mcp" value="0"{% if not ITEM_EXT_MODULE_MCP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_module_ucp">{{ lang(['EXT_PROPERTIES', 'MODULE_UCP']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'MODULE_UCP']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_module_ucp" id="item_ext_module_ucp" value="1"{% if ITEM_EXT_MODULE_UCP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_module_ucp" value="0"{% if not ITEM_EXT_MODULE_UCP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_notification">{{ lang(['EXT_PROPERTIES', 'NOTIFICATION']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'NOTIFICATION']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_notification" id="item_ext_notification" value="1"{% if ITEM_EXT_NOTIFICATION %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_notification" value="0"{% if not ITEM_EXT_NOTIFICATION %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_cron">{{ lang(['EXT_PROPERTIES', 'CRON']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'CRON']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_cron" id="item_ext_cron" value="1"{% if ITEM_EXT_CRON %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_cron" value="0"{% if not ITEM_EXT_CRON %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_console">{{ lang(['EXT_PROPERTIES', 'CONSOLE']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'CONSOLE']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_console" id="item_ext_console" value="1"{% if ITEM_EXT_CONSOLE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_console" value="0"{% if not ITEM_EXT_CONSOLE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_ext_ext_php">{{ lang(['EXT_PROPERTIES', 'EXT_PHP']) ~ lang('COLON') }}</label><br><span>{{ lang(['EXT_PROPERTIES_EXPLAIN', 'EXT_PHP']) }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_ext_ext_php" id="item_ext_ext_php" value="1"{% if ITEM_EXT_EXT_PHP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_ext_ext_php" value="0"{% if not ITEM_EXT_EXT_PHP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	{% endif %}
	{% if MODE == 'style' or MODE == 'acp_style' %}
	<fieldset>
		<legend>{{ lang('ITEM_STYLE_DETAILS') }}</legend>
		<dl>
			<dt><label for="item_style_presets">{{ lang(['STYLE_PROPERTIES', 'PRESETS']) ~ lang('COLON') }}</label></dt>
			<dd><input type="number" name="item_style_presets" id="item_style_presets" min="0" value="{{ ITEM_STYLE_PRESETS }}" maxlength="255"></dd>
		</dl>
		<dl>
			<dt><label for="item_style_presets_aio">{{ lang(['STYLE_PROPERTIES', 'PRESETS_AIO']) ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_style_presets_aio" id="item_style_presets_aio" value="1"{% if ITEM_STYLE_PRESETS_AIO %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_style_presets_aio" value="0"{% if not ITEM_STYLE_PRESETS_AIO %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_style_source">{{ lang(['STYLE_PROPERTIES', 'SOURCE']) ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_style_source" id="item_style_source" value="1"{% if ITEM_STYLE_SOURCE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_style_source" value="0"{% if not ITEM_STYLE_SOURCE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_style_responsive">{{ lang(['STYLE_PROPERTIES', 'RESPONSIVE']) ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_style_responsive" id="item_style_responsive" value="1"{% if ITEM_STYLE_RESPONSIVE %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_style_responsive" value="0"{% if not ITEM_STYLE_RESPONSIVE %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="item_style_bootstrap">{{ lang(['STYLE_PROPERTIES', 'BOOTSTRAP']) ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="item_style_bootstrap" id="item_style_bootstrap" value="1"{% if ITEM_STYLE_BOOTSTRAP %} checked{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="item_style_bootstrap" value="0"{% if not ITEM_STYLE_BOOTSTRAP %} checked{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	{% endif %}
	{% if MODE == 'lang' %}
	<fieldset>
		<legend>{{ lang('ITEM_LANG_DETAILS') }}</legend>
		<dl>
			<dt><label for="item_lang_iso">{{ lang('LANGUAGE') ~ lang('COLON') }}</label></dt>
			<dd><select name="item_lang_iso" id="item_lang_iso">{{ LANG_OPTIONS }}</select></dd>
		</dl>
	</fieldset>
	{% endif %}
	{% if MODE == 'tool' %}
	<fieldset>
		<legend>{{ lang('ITEM_TOOL_DETAILS') }}</legend>
		<dl>
			<dt><label for="item_tool_os">{{ lang('OS') ~ lang('COLON') }}</label></dt>
			<dd><select name="item_tool_os" id="item_tool_os">{{ OS_OPTIONS }}</select></dd>
		</dl>
	</fieldset>
	{% endif %}
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}">
		<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
