{% include 'overall_header.html' %}

<h1>{{ lang('ACP_BB_AUTHORS') }}</h1>
<p>{{ lang('ACP_BB_AUTHORS_EXPLAIN') }}</p>

<form id="acp_bb_authors" method="post" action="{{ U_ACTION }}">
	<fieldset class="quick">
		<input class="button2" type="submit" value="{{ lang('ADD_AUTHOR') }}">
		<input type="hidden" name="action" value="add">
	</fieldset>
</form>

<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ lang('AUTHOR_NAME') }}</th>
		<th>{{ lang('REAL_NAME') }}</th>
		<th>{{ lang('AUTHOR_IS_GROUP') }}</th>
		<th>{{ lang('GROUP') }}</th>
		<th>{{ lang('ACTIONS') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for author in authors %}
	<tr>
		<td style="text-align: center;">{{ author.NAME }}</td>
		<td style="text-align: center;">{{ author.FIRSTNAME ~ ' ' ~ author.LASTNAME }}</td>
		<td style="text-align: center;">{{ author.IS_GROUP ? lang('YES') : lang('NO') }}</td>
		<td style="text-align: center;">{{ author.GROUP }}</td>
		<td class="actions">
			<a href="{{ author.U_EDIT }}">{{ ICON_EDIT }}</a>
			{% if author.U_DELETE %}<a href="{{ author.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>{% else %}{{ ICON_DELETE_DISABLED }}{% endif %}
		</td>
	</tr>
	{% else %}
	<tr class="row3">
		<td colspan="5">{{ lang('ACP_NO_ITEMS') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% include 'overall_footer.html' %}
