{% include 'overall_header.html' %}

<h1>{{ lang('ACP_VINABB_SETTINGS_VERSION') }}</h1>
<p>{{ lang('ACP_VINABB_SETTINGS_VERSION_EXPLAIN') }}</p>

<form id="acp_vinabb_settings_version" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('LATEST_VERSIONS_INFO') }}</legend>
		<dl>
			<dt><label for="check_phpbb_url">{{ lang('CHECK_PHPBB_URL') ~ lang('COLON') }}</label></dt>
			<dd><input type="url" name="check_phpbb_url" id="check_phpbb_url" size="40" maxlength="255" value="{{ CHECK_PHPBB_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_download_url">{{ lang('CHECK_PHPBB_DOWNLOAD_URL') ~ ' (' ~ lang('PHPBB_COM') ~ ')' ~ lang('COLON') }}</label><br><span>{{ lang('CHECK_PHPBB_DOWNLOAD_URL_EXPLAIN') }}</span></dt>
			<dd><input type="url" name="check_phpbb_download_url" id="check_phpbb_download_url" size="40" maxlength="255" value="{{ CHECK_PHPBB_DOWNLOAD_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_download_dev_url">{{ lang('CHECK_PHPBB_DOWNLOAD_DEV_URL') ~ ' (' ~ lang('PHPBB_COM') ~ ')' ~ lang('COLON') }}</label><br><span>{{ lang('CHECK_PHPBB_DOWNLOAD_URL_EXPLAIN') }}</span></dt>
			<dd><input type="url" name="check_phpbb_download_dev_url" id="check_phpbb_download_dev_url" size="40" maxlength="255" value="{{ CHECK_PHPBB_DOWNLOAD_DEV_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_github_url">{{ lang('CHECK_PHPBB_DOWNLOAD_URL') ~ ' (' ~ lang('GITHUB') ~ ')' ~ lang('COLON') }}</label><br><span>{{ lang('CHECK_PHPBB_DOWNLOAD_URL_EXPLAIN') }}</span></dt>
			<dd><input type="url" name="check_phpbb_github_url" id="check_phpbb_github_url" size="40" maxlength="255" value="{{ CHECK_PHPBB_GITHUB_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_dev_branch">{{ lang('CHECK_PHPBB_DEV_BRANCH') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="check_phpbb_dev_branch" id="check_phpbb_dev_branch" maxlength="255" value="{{ CHECK_PHPBB_DEV_BRANCH }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_branch">{{ lang('CHECK_PHPBB_BRANCH') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="check_phpbb_branch" id="check_phpbb_branch" maxlength="255" value="{{ CHECK_PHPBB_BRANCH }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_phpbb_legacy_branch">{{ lang('CHECK_PHPBB_LEGACY_BRANCH') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="check_phpbb_legacy_branch" id="check_phpbb_legacy_branch" maxlength="255" value="{{ CHECK_PHPBB_LEGACY_BRANCH }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_php_url">{{ lang('CHECK_PHP_URL') ~ lang('COLON') }}</label></dt>
			<dd><input type="url" name="check_php_url" id="check_php_url" size="40" maxlength="255" value="{{ CHECK_PHP_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_php_branch">{{ lang('CHECK_PHP_BRANCH') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="check_php_branch" id="check_php_branch" maxlength="255" value="{{ CHECK_PHP_BRANCH }}"></dd>
		</dl>
		<dl>
			<dt><label for="check_php_legacy_branch">{{ lang('CHECK_PHP_LEGACY_BRANCH') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="check_php_legacy_branch" id="check_php_legacy_branch" maxlength="255" value="{{ CHECK_PHP_LEGACY_BRANCH }}"></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
