{% include 'overall_header.html' %}

<h1>{{ PAGE_TITLE }}</h1>
<p>{{ PAGE_TITLE_EXPLAIN }}</p>

<form id="acp_bb_items" method="post" action="{{ U_ACTION }}">
	<fieldset class="quick">
		<input class="button2" type="submit" value="{{ ADD_ITEM_LANG }}">
		<input type="hidden" name="action" value="add">
	</fieldset>
</form>

{% if pagination %}
<div class="pagination">
	<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('COUNTER_ITEM_LANG_KEY', TOTAL_ITEMS) }}</span>
	{% include 'pagination.html' %}
</div>
{% endif %}

<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ ITEM_NAME_LANG }}</th>
		<th>{{ lang('CATEGORY') }}</th>
		<th>{{ lang('VERSION') }}</th>
		<th>{{ lang('ACTIONS') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for item in items %}
	<tr>
		<td style="text-align: center;">{{ item.NAME }}</td>
		<td style="text-align: center;">{{ item.CATEGORY }}</td>
		<td style="text-align: center;"><a href="{{ item.U_VERSION }}">{{ lang('MANAGE_VERSIONS') }}</a></td>
		<td class="actions">
			<a href="{{ item.U_EDIT }}">{{ ICON_EDIT }}</a>
			<a href="{{ item.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
		</td>
	</tr>
	{% else %}
	<tr class="row3">
		<td colspan="4">{{ lang('ACP_NO_ITEMS') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% if pagination %}
<div class="pagination">
	<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('COUNTER_ITEM_LANG_KEY', TOTAL_ITEMS) }}</span>
	{% include 'pagination.html' %}
</div>
{% endif %}

{% include 'overall_footer.html' %}
