{% include 'overall_header.html' %}

{% if S_EDIT %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{{ PAGE_TITLE }}</h1>
	<p>{{ PAGE_TITLE_EXPLAIN }}</p>

	<form id="acp_bb_items_edit" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ MODE }}</legend>
			<dl>
				<dt><label for="item_name">{{ ITEM_NAME_LANG ~ ' (' ~ lang('ENGLISH') ~ ')' ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="item_name" id="item_name" value="{{ ITEM_NAME }}" size="40" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="item_name_vi">{{ ITEM_NAME_LANG ~ ' (' ~ lang('VIETNAMESE') ~ ')' ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="item_name_vi" id="item_name_vi" value="{{ ITEM_NAME_VI }}" size="40" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="cat_id">{{ lang('CATEGORY') ~ lang('COLON') }}</label></dt>
				<dd><select name="cat_id" id="cat_id">{{ CAT_OPTIONS }}</select></dd>
			</dl>
		</fieldset>
		{% if MODE == 'ext' %}
		<fieldset>
			<legend>{{ lang('ITEM_EXT_DETAILS') }}</legend>
			<dl>
				<dt><label for="item_ext_style">{{ lang('ITEM_EXT_STYLE') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_ext_style" id="item_ext_style" value="1"{% if ITEM_EXT_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_ext_style" value="0"{% if not ITEM_EXT_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_ext_acp_style">{{ lang('ITEM_EXT_ACP_STYLE') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_ext_acp_style" id="item_ext_acp_style" value="1"{% if ITEM_EXT_ACP_STYLE %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_ext_acp_style" value="0"{% if not ITEM_EXT_ACP_STYLE %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_ext_lang">{{ lang('ITEM_EXT_LANG') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_ext_lang" id="item_ext_lang" value="1"{% if ITEM_EXT_LANG %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_ext_lang" value="0"{% if not ITEM_EXT_LANG %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_ext_db_schema">{{ lang('ITEM_EXT_DB_SCHEMA') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_ext_db_schema" id="item_ext_db_schema" value="1"{% if ITEM_EXT_DB_SCHEMA %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_ext_db_schema" value="0"{% if not ITEM_EXT_DB_SCHEMA %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_ext_db_data">{{ lang('ITEM_EXT_DB_DATA') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_ext_db_data" id="item_ext_db_data" value="1"{% if ITEM_EXT_DB_DATA %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_ext_db_data" value="0"{% if not ITEM_EXT_DB_DATA %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
		</fieldset>
		{% endif %}
		{% if MODE == 'style' or MODE == 'acp_style' %}
		<fieldset>
			<legend>{{ lang('ITEM_STYLE_DETAILS') }}</legend>
			<dl>
				<dt><label for="item_style_presets">{{ lang('ITEM_STYLE_PRESETS') ~ lang('COLON') }}</label></dt>
				<dd><input type="number" name="item_style_presets" id="item_style_presets" min="0" value="{{ ITEM_STYLE_PRESETS }}" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="item_style_presets_aio">{{ lang('ITEM_STYLE_PRESETS_AIO') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_style_presets_aio" id="item_style_presets_aio" value="1"{% if ITEM_STYLE_PRESETS_AIO %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_style_presets_aio" value="0"{% if not ITEM_STYLE_PRESETS_AIO %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_style_source">{{ lang('ITEM_STYLE_SOURCE') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_style_source" id="item_style_source" value="1"{% if ITEM_STYLE_SOURCE %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_style_source" value="0"{% if not ITEM_STYLE_SOURCE %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_style_responsive">{{ lang('ITEM_STYLE_RESPONSIVE') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_style_responsive" id="item_style_responsive" value="1"{% if ITEM_STYLE_RESPONSIVE %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_style_responsive" value="0"{% if not ITEM_STYLE_RESPONSIVE %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="item_style_bootstrap">{{ lang('ITEM_STYLE_BOOTSTRAP') ~ lang('COLON') }}</label></dt>
				<dd>
					<label><input type="radio" class="radio" name="item_style_bootstrap" id="item_style_bootstrap" value="1"{% if ITEM_STYLE_BOOTSTRAP %} checked{% endif %}> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="item_style_bootstrap" value="0"{% if not ITEM_STYLE_BOOTSTRAP %} checked{% endif %}> {{ lang('NO') }}</label>
				</dd>
			</dl>
		</fieldset>
		{% endif %}
		{% if MODE == 'lang' %}
		<fieldset>
			<legend>{{ lang('ITEM_LANG_DETAILS') }}</legend>
			<dl>
				<dt><label for="item_lang_iso">{{ lang('LANGUAGE') ~ lang('COLON') }}</label></dt>
				<dd><select name="item_lang_iso" id="item_lang_iso">{{ LANG_OPTIONS }}</select></dd>
			</dl>
		</fieldset>
		{% endif %}
		{% if MODE == 'tool' %}
		<fieldset>
			<legend>{{ lang('ITEM_TOOL_DETAILS') }}</legend>
			<dl>
				<dt><label for="item_tool_os">{{ lang('OS') ~ lang('COLON') }}</label></dt>
				<dd><select name="item_tool_os" id="item_tool_os">{{ OS_OPTIONS }}</select></dd>
			</dl>
		</fieldset>
		{% endif %}
		<fieldset>
			<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
			<p class="submit-buttons">
				{{ S_HIDDEN_FIELDS }}
				<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
				<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
			</p>
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% else %}

	<h1>{{ PAGE_TITLE }}</h1>
	<p>{{ PAGE_TITLE_EXPLAIN }}</p>

	<form id="acp_bb_items" method="post" action="{{ U_ACTION }}">
		<p class="quick">
			{{ S_HIDDEN_FIELDS }}
			<input class="button2" name="add" type="submit" value="{{ ADD_ITEM_LANG }}">
		</p>
	</form>

	{% if pagination %}
	<div class="pagination">
		<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('TOTAL_ARTICLES', TOTAL_ARTICLES) }}</span>
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table">
		<thead>
		<tr>
			<th>{{ ITEM_NAME_LANG }}</th>
			<th>{{ ITEM_NAME_LANG ~ ' (' ~ lang('VIETNAMESE') ~ ')' }}</th>
			<th>{{ lang('VERSION') }}</th>
			<th>{{ lang('PHPBB_VERSION') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for item in items %}
		<tr>
			<td style="text-align: center;">{{ item.NAME }}</td>
			<td style="text-align: center;">{{ item.NAME_VI }}</td>
			<td style="text-align: center;">{{ item.VERSION }}</td>
			<td style="text-align: center;">{{ item.PHPBB_VERSION }}</td>
			<td class="actions">
				<a href="{{ item.U_EDIT }}">{{ ICON_EDIT }}</a>
				<a href="{{ item.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
			</td>
		</tr>
		{% else %}
		<tr class="row3">
			<td colspan="5">{{ lang('ACP_NO_ITEMS') }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
	<div class="pagination">
		<span style="float: {{ S_CONTENT_FLOW_BEGIN }};">&raquo; {{ lang('TOTAL_ARTICLES', TOTAL_ARTICLES) }}</span>
		{% include 'pagination.html' %}
	</div>
	{% endif %}

{% endif %}

{% include 'overall_footer.html' %}
