{% include 'overall_header.html' %}

<div class="row">
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li><a href="{{ U_INDEX }}"><i class="fa fa-home"></i></a></li>
			<li><a href="{{ U_BB }}">{{ lang('BB') }}</a></li>
			<li>{{ BB_TYPE ?: lang('STATISTICS') }}</li>
		</ol>
	</div>
	<div class="col-sm-6 text-right">
		<h4>{{ CURRENT_TIME }}</h4>
	</div>
</div>

<div class="tabs">
	<ul class="list-inline tabs-nav" role="tablist">
		<li role="presentation"{% if S_BB_STATS %} class="active"{% endif %}><a href="#bb_stats" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_STATS ? 'true' : 'false' }}"><i class="fa fa-line-chart"></i> {{ lang('STATISTICS') }}</a></li>
		<li role="presentation"{% if S_BB_EXTS %} class="active"{% endif %}><a href="#bb_exts" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_EXTS ? 'true' : 'false' }}"><i class="fa fa-rocket"></i> {{ lang('BB_EXTS') }}</a></li>
		<li role="presentation"{% if S_BB_STYLES %} class="active"{% endif %}><a href="#bb_styles" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_STYLES ? 'true' : 'false' }}"><i class="fa fa-paint-brush"></i> {{ lang('BB_STYLES') }}</a></li>
		<li role="presentation"{% if S_BB_ACP_STYLES %} class="active"{% endif %}><a href="#bb_acp_styles" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_ACP_STYLES ? 'true' : 'false' }}"><i class="fa fa-sliders"></i> {{ lang('BB_ACP_STYLES') }}</a></li>
		<li role="presentation"{% if S_BB_LANGS %} class="active"{% endif %}><a href="#bb_langs" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_LANGS ? 'true' : 'false' }}"><i class="fa fa-keyboard-o"></i> {{ lang('BB_LANGS') }}</a></li>
		<li role="presentation"{% if S_BB_TOOLS %} class="active"{% endif %}><a href="#bb_tools" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="{{ S_BB_TOOLS ? 'true' : 'false' }}"><i class="fa fa-wrench"></i> {{ lang('BB_TOOLS') }}</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane{% if S_BB_STATS %} active{% endif %}" id="bb_stats">
			<div class="widget white-bg">
				<h5>Awesome</h5>
				You can easily put the profile settings form here!
			</div>
		</div>
		<div role="tabpanel" class="tab-pane{% if S_BB_EXTS %} active{% endif %}" id="bb_exts">
			<div class="widget white-bg">
				<ul class="comments-list list-unstyled clearfix">
					{% for cat in ext_cats %}
					<li class="clearfix">
						<img src="{{ T_THEME_PATH }}/images/forum_icons/3.png" alt="" width="64" class="img-circle">
						<div class="content">
							<div class="comments-header">
								<a href="#" class="text-primary">{{ cat.NAME }}</a>
							</div>
							<div>
								<span>Latest: <a href="#">Styles Demo 1.2.5</a></span>
								<ul class="list-inline pull-right">
									<li><a data-toggle="tooltip" data-placement="bottom" title="{{ lang('BB_EXTS') }}"><i class="icon-paper-clip fa-2x"></i> 94</a></li>
									<li><a data-toggle="tooltip" data-placement="bottom" title="{{ lang('DOWNLOADS') }}"><i class="icon-arrow-down-circle fa-2x"></i> 145</a></li>
								</ul>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-indigo padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-rocket fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_EXTS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_EXTS') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-tomato padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-layers fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_STYLES') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-bluesky padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-equalizer fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_ACP_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_ACP_STYLES') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-grey padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-wrench fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_TOOLS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_TOOLS') }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-success padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-speech fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_LANGS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_LANGS') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-info padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-people fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_AUTHORS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_AUTHORS') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-banalime padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-speedometer fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_ACP_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('DOWNLOADS') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="widget bg-pink padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<i class="icon-cursor fa-3x"></i>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_SUBSCRIBERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_SUBSCRIBERS') }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
