{% include 'overall_header.html' %}

<!-- Navigation -->
<div class="row">
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li>UI Elements</li>
			<li>typography</li>
		</ol>
	</div>
	<div class="col-sm-6 text-right">
		<h4>{{ CURRENT_TIME }}</h4>
	</div>
</div>

<!-- Carousel -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href=""><img src="{{ T_THEME_PATH }}/images/headlines/vinabb.jpg" alt="" class="img-responsive"></a>
						<div class="carousel-caption">
							<h3>VinaBB trở lại</h3>
							<p>Người xưa còn đó, tình yêu còn đó, mãi mãi phpBB...</p>
						</div>
					</div>

					<div class="item">
						<img src="{{ T_THEME_PATH }}/images/headlines/stylesdemo.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
							<h3>styles.vinabb.vn</h3>
							<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
						</div>
					</div>

					<div class="item">
						<img src="{{ T_THEME_PATH }}/images/headlines/abcde.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
							<h3>sss</h3>
							<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
						</div>
					</div>

					<div class="item">
						<img src="{{ T_THEME_PATH }}/images/headlines/abcde.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
							<h3>ABCDE - Any Body Can Develop Extensions</h3>
							<p>Ai cũng có thể viết gói mở rộng cho phpBB, từ gà mờ dến gà béo, chỉ cần biết nhấp chuột.</p>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div><!--col-md-6-->
</div>

<!-- phpBB Info -->
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-success padding-0">
			<div class="row row-table" role="button" data-toggle="modal" data-target="#phpbbModal">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-cloud-download fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_PHPBB_VERSION ? LATEST_PHPBB_VERSION : lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_PHPBB') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-warning padding-0">
			<div class="row row-table" role="button" data-toggle="modal" data-target="#ivnModal">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-arrow-down-circle fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">3.2.0</h2>
					<div class="text-uppercase">{{ lang('LATEST_IVN') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-primary padding-0">
			<div class="row row-table" role="button" data-toggle="modal" data-target="#phpModal">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-paypal fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_PHP_VERSION ? LATEST_PHP_VERSION : lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_PHP') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-danger padding-0">
			<div class="row row-table" role="button" data-toggle="modal" data-target="#gameModal">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-badge fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">0.0.1</h2>
					<div class="text-uppercase">{{ lang('LATEST_FORUM_WAR') }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main page -->
<div class="row">
	<!-- Left column -->
	<div class="col-md-4 mailbox-sidenav">
		<!-- News categories -->
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li class="side-nav-header">
						<span class="text-muted">{{ lang('NEWS')|upper }}</span>
					</li>
					<li>
						<a href="#">
							<span class="label label-success pull-right">153</span>
							<em class="fa fa-inbox"></em>
							<span>VinaBB</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="label label-success pull-right">3</span>
							<em class="fa fa-star"></em>
							<span>phpBB</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="label label-success pull-right">55</span>
							<em class="fa fa-paper-plane-o"></em>
							<span>Gói mở rộng</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="label label-success pull-right">0</span>
							<em class="fa fa-edit"></em>
							<span>Giao diện</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="label label-success pull-right">21</span>
							<em class="fa fa-trash"></em>
							<span>Thủ thuật</span>
						</a>
					</li>
					<li class="side-nav-header">
						<span class="text-muted">{{ lang('BOARD')|upper }}</span>
					</li>
					<li>
						<a href="{{ U_FORUM_VIETNAMESE }}">
							<span class="badge badge-danger"></span>
							<span>{{ FORUM_VIETNAMESE }}</span>
						</a>
					</li>
					<li>
						<a href="{{ U_FORUM_ENGLISH }}">
							<span class="badge badge-info"></span>
							<span>{{ FORUM_ENGLISH }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="widget bg-teal padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-rocket fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_EXTS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_EXTS') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-tomato padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-layers fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_STYLES') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-bluesky padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-equalizer fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_ACP_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_ACP_STYLES') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-indigo padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-wrench fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_TOOLS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_TOOLS') }}</div>
				</div>
			</div>
		</div>

		<!-- Last updated extensions/styles -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tabs">
					<div class="tab-content padding-5">
						<div role="tabpanel" class="tab-pane active" id="newExts">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_EXTS')|upper }}</span>
								</li>
								{% for i in 1..10 %}
								<li>
									<a href="#">
										{% if loop.index == 7 %}<span class="label label-success pull-right">Mới</span>{% endif %}
										<span>Styles Demo 1.2.4</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newStyles">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_STYLES')|upper }}</span>
								</li>
								{% for i in 1..10 %}
								<li>
									<a href="#">
										{% if loop.index == 7 %}<span class="label label-success pull-right">Mới</span>{% endif %}
										<span>BBoots 1.2.0</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newACPStyles">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_ACP_STYLES')|upper }}</span>
								</li>
								{% for i in 1..10 %}
								<li>
									<a href="#">
										{% if loop.index == 7 %}<span class="label label-success pull-right">Mới</span>{% endif %}
										<span>Float 1.0.0</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newTools">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_TOOLS')|upper }}</span>
								</li>
								{% for i in 1..10 %}
								<li>
									<a href="#">
										{% if loop.index == 7 %}<span class="label label-success pull-right">Mới</span>{% endif %}
										<span>Extensions Pre Validator 0.0.7</span>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- Nav tabs -->
					<ul class="list-inline tabs-nav tabs-bottom" role="tablist">
						<li role="presentation" class="active"><a href="#newExts" aria-controls="newExts" role="tab" data-toggle="tab"><i class="fa fa-rocket fa-2x"></i></a></li>
						<li role="presentation"><a href="#newStyles" aria-controls="newStyles" role="tab" data-toggle="tab"><i class="fa fa-paint-brush fa-2x"></i></a></li>
						<li role="presentation"><a href="#newACPStyles" aria-controls="newACPStyles" role="tab" data-toggle="tab"><i class="fa fa-sliders fa-2x"></i></a></li>
						<li role="presentation"><a href="#newTools" aria-controls="newTools" role="tab" data-toggle="tab"><i class="fa fa-wrench fa-2x"></i></a></li>
					</ul>
					<!-- Tab panes -->
				</div>
			</div>
		</div>

		<div class="widget bg-info padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-notebook fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_TOPICS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('TOPICS') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-brown padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-docs fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_POSTS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('POSTS') }}</div>
				</div>
			</div>
		</div>

		<!-- New topics/posts -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tabs">
					<div class="tab-content padding-0">
						<div role="tabpanel" class="tab-pane active" id="newTopics">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_TOPICS')|upper }}</span>
								</li>
								{% for topic in latest_topics %}
								<li><a href="#"><span>{{ topic.TITLE }}</span></a></li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newPosts">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_POSTS')|upper }}</span>
								</li>
								{% for post in latest_posts %}
								<li><a href="#"><span>{{ post.SUBJECT }}</span></a></li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newUsers">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<span class="text-muted">{{ lang('LATEST_USERS')|upper }}</span>
								</li>
								{% for user in latest_users %}
								<li>{{ user.NAME }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- Nav tabs -->
					<ul class="list-inline tabs-nav tabs-bottom" role="tablist">
						<li role="presentation" class="active"><a href="#newTopics" aria-controls="newTopics" role="tab" data-toggle="tab"><i class="fa fa-file-text-o fa-2x"></i></a></li>
						<li role="presentation"><a href="#newPosts" aria-controls="newPosts" role="tab" data-toggle="tab"><i class="fa fa-commenting-o fa-2x"></i></a></li>
						<li role="presentation"><a href="#newUsers" aria-controls="newUsers" role="tab" data-toggle="tab"><i class="fa fa-user-plus fa-2x"></i></a></li>
					</ul>
					<!-- Tab panes -->
				</div>
			</div>
		</div>

		<div class="widget bg-grey padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-people fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('MEMBERS') }}</div>
				</div>
			</div>
		</div>

		{% if S_DISPLAY_ONLINE_LIST %}
		<div class="widget bg-banalime padding-0" role="button" data-toggle="modal" data-target="#onlineModal">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-energy fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ TOTAL_ONLINE_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('ONLINE') }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if S_DISPLAY_BIRTHDAY_LIST %}
		<div class="widget bg-pink padding-0"{% if TOTAL_BIRTHDAY_USERS %} role="button" data-toggle="modal" data-target="#birthdayModal"{% endif %}>
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-present fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ TOTAL_BIRTHDAY_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BIRTHDAYS') }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="widget white-bg">
			<div>
				<h4>Kinh phí hoạt động</h4>
				<div>
					<span>Năm 2017</span>
					<small class="pull-right">Đã thanh toán</small>
				</div>
				<div class="progress progress-mini">
					<div style="width: 100%;" class="progress-bar"></div>
				</div>

				<div>
					<span>Năm 2018</span>
					<small class="pull-right">0 / 8,500,000 VND</small>
				</div>
				<div class="progress progress-mini">
					<div style="width: 1%;" class="progress-bar progress-bar-danger"></div>
				</div>
				<div class="text-center">
					<button data-toggle="modal" data-target="#mapModal" class="btn btn-danger"><i class="fa fa-tint"></i> Tiếp thêm máu</button>
				</div>
			</div>
		</div>

	</div>

	<!-- Right column -->
	<div class="col-md-8">
		{% for row in 1..5 %}
		<div class="panel panel-default blog-box">
			<div class="panel-img">
				<img src="{{ T_THEME_PATH }}/images/2.jpg" alt="" class="img-responsive">
			</div>
			<div class="panel-body">
				<a href="#"><h4>phpBB iVN 3.2.0 đã phát hành</h4></a>
				<p class="text-muted">{{ CURRENT_TIME }}</p>
				<p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum...</p>
			</div>
			<div class="panel-footer">
				<span class="pull-right"><i class="fa fa-comments-o"></i> 58 comments</span>
				<i class="fa fa-eye"></i> 356 views
			</div>
		</div>
		{% endfor %}

		<ul class="pagination margin-t-0 pull-right">
			<li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
			<li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
			<li class="footable-page active"><a data-page="0" href="#">1</a></li>
			<li class="footable-page"><a data-page="1" href="#">2</a></li>
			<li class="footable-page"><a data-page="2" href="#">3</a></li>
			<li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
			<li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
		</ul>
	</div>
</div>

{# Latest phpBB modal #}
<div class="modal fade" id="phpbbModal" tabindex="-1" role="dialog" aria-labelledby="phpbbModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('LATEST_PHPBB_TITLE') }}</h3>
			</div>
			<div class="modal-body">
				<p><strong>phpBB 3.2.0-RC1:</strong> <a href="https://download.phpbb.com/pub/release/3.2/unstable/3.2.0-RC1/phpBB-3.2.0-RC1.zip" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('PHPBB_COM') }}</a> <a href="https://github.com/phpbb/phpbb/archive/release-3.2.0-RC1.zip" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a></p>
				<p><strong>phpBB 3.1.10:</strong> <a href="https://download.phpbb.com/pub/release/3.1/3.1.10/phpBB-3.1.10.zip" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('PHPBB_COM') }}</a> <a href="https://github.com/phpbb/phpbb/archive/release-3.1.10.zip" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a></p>
			</div>
		</div>
	</div>
</div>

{# Latest phpBB iVN modal #}
<div class="modal fade" id="ivnModal" tabindex="-1" role="dialog" aria-labelledby="ivnModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('LATEST_IVN_TITLE') }}</h3>
			</div>
			<div class="modal-body">
				<p><strong>phpBB iVN 3.2.0-RC1:</strong> <a href="https://download.phpbb.com/pub/release/3.2/unstable/3.2.0-RC1/phpBB-3.2.0-RC1.zip" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('VINABB') }}</a> <a href="https://github.com/phpbb/phpbb/archive/release-3.2.0-RC1.zip" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a></p>
				<p><strong>phpBB iVN 3.1.10:</strong> <a href="https://download.phpbb.com/pub/release/3.1/3.1.10/phpBB-3.1.10.zip" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('VINABB') }}</a> <a href="https://github.com/phpbb/phpbb/archive/release-3.1.10.zip" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a></p>
			</div>
		</div>
	</div>
</div>

{# Online modal #}
{% if S_DISPLAY_ONLINE_LIST %}
<div class="modal fade" id="onlineModal" tabindex="-1" role="dialog" aria-labelledby="onlineModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('WHO_IS_ONLINE') }}</h3>
			</div>
			<div class="modal-body">
				<p>
					{% EVENT index_body_block_online_prepend %}
					{{ TOTAL_USERS_ONLINE }} ({{ L_ONLINE_EXPLAIN }})<br>{{ RECORD_USERS }}<br><br>{{ LOGGED_IN_USER_LIST }}{% if LEGEND %}<br><em>{{ lang('LEGEND') ~ lang('COLON') }} {{ LEGEND }}</em>{% endif %}
					{% EVENT index_body_block_online_append %}
				</p>
				{% if U_VIEWONLINE %}
				<div class="text-center">
					<a href="{{ U_VIEWONLINE }}" class="btn btn-primary">{{ lang('VIEW_DETAILS') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Birthday modal #}
{% if S_DISPLAY_BIRTHDAY_LIST and TOTAL_BIRTHDAY_USERS %}
<div class="modal fade" id="birthdayModal" tabindex="-1" role="dialog" aria-labelledby="birthdayModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('BIRTHDAYS') }}</h3>
			</div>
			<div class="modal-body">
				<p>
					{% EVENT index_body_block_birthday_prepend %}
					{{ lang('CONGRATULATIONS') ~ lang('COLON') }} <strong>{% for birthday in birthdays %}{{ birthday.USERNAME }}{% if birthday.AGE %} ({{ birthday.AGE }}){% endif %}{% if not loop.last %}, {% endif %}{% endfor %}</strong>
					{% EVENT index_body_block_birthday_append %}
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% include 'overall_footer.html' %}
