{% include 'overall_header.html' %}

<!-- Carousel -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href=""><img src="{{ T_THEME_PATH }}/images/headlines/vinabb.jpg" alt="" class="img-responsive"></a>
						<div class="carousel-caption">
							<h3>VinaBB trở lại</h3>
							<p>Người xưa còn đó, tình yêu còn đó, mãi mãi phpBB...</p>
						</div>
					</div>
					<div class="item">
						<a href="http://recyclebin.vinabb.vn/" target="_blank"><img src="{{ T_THEME_PATH }}/images/headlines/stylesdemo.jpg" alt="" class="img-responsive"></a>
						<div class="carousel-caption">
							<h3>Styles Demo</h3>
							<p>Xem thử và tìm nhanh giao diện phù hợp với sở thích của bạn.</p>
						</div>
					</div>
					<div class="item">
						<img src="{{ T_THEME_PATH }}/images/headlines/abcde.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
							<h3>ABCDE - Any Body Can Develop Extensions</h3>
							<p>Ai cũng có thể viết gói mở rộng cho phpBB, từ gà mờ đến gà béo, chỉ cần biết nhấp chuột.</p>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Version Info -->
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-primary padding-0">
			<div class="row row-table"{% if (LATEST_PHPBB_VERSION and (LATEST_PHPBB_DOWNLOAD_URL or LATEST_PHPBB_GITHUB_URL)) or (LATEST_PHPBB_LEGACY_VERSION and (LATEST_PHPBB_LEGACY_DOWNLOAD_URL or LATEST_PHPBB_LEGACY_GITHUB_URL)) or (LATEST_PHPBB_DEV_VERSION and (LATEST_PHPBB_DEV_DOWNLOAD_URL or LATEST_PHPBB_DEV_GITHUB_URL)) %} role="button" data-toggle="modal" data-target="#phpbbModal"{% endif %}>
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-cloud-download fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_PHPBB_VERSION ?: lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_PHPBB') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-success padding-0">
			<div class="row row-table"{% if LATEST_IVN_VERSION or LATEST_IVN_LEGACY_VERSION or LATEST_IVN_DEV_VERSION or LATEST_IVNPLUS_VERSION %} role="button" data-toggle="modal" data-target="#ivnModal"{% endif %}>
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-arrow-down-circle fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_IVN_VERSION ?: lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_IVN') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-indigo padding-0">
			<div class="row row-table"{% if LATEST_PHP_VERSION or LATEST_PHP_LEGACY_VERSION %} role="button" data-toggle="modal" data-target="#phpModal"{% endif %}>
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-paypal fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_PHP_VERSION ?: lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_PHP') }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="widget bg-danger padding-0">
			<div class="row row-table"{% if LATEST_VINABB_VERSION %} role="button" data-toggle="modal" data-target="#vinabbModal"{% endif %}>
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-chemistry fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ LATEST_VINABB_VERSION ?: lang('ELLIPSIS') }}</h2>
					<div class="text-uppercase">{{ lang('LATEST_VINABB') }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main page -->
<div class="row">
	<!-- Left column -->
	<div class="col-md-4 mailbox-sidenav">
		{# News and Board categories #}
		{% if portal_cats or FORUM_VIETNAMESE or FORUM_ENGLISH %}
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					{% if portal_cats %}
						<li class="side-nav-header">
							<span class="text-muted">{{ lang('NEWS')|upper }}</span>
						</li>
						{% for cat in portal_cats %}
						<li>
							<a href="{{ cat.URL }}">
								<em class="{{ cat.ICON ?: 'fa fa-home' }}"></em>
								<span>{{ cat.NAME }}</span>
								<span class="label label-success pull-right">{{ lang('NEW') }}</span>
							</a>
						</li>
						{% endfor %}
					{% endif %}
					{% if FORUM_VIETNAMESE or FORUM_ENGLISH %}
						<li class="side-nav-header">
							<span class="text-muted">{{ lang('BOARD')|upper }}</span>
						</li>
						{% if FORUM_VIETNAMESE %}
						<li>
							<a href="{{ U_FORUM_VIETNAMESE }}">
								<span class="badge badge-danger"></span>
								<span>{{ FORUM_VIETNAMESE }}</span>
							</a>
						</li>
						{% endif %}
						{% if FORUM_ENGLISH %}
						<li>
							<a href="{{ U_FORUM_ENGLISH }}">
								<span class="badge badge-info"></span>
								<span>{{ FORUM_ENGLISH }}</span>
							</a>
						</li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}

		<div class="widget bg-teal padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-rocket fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_EXTS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_EXTS') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-tomato padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-layers fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_STYLES') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-bluesky padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-equalizer fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_ACP_STYLES|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_ACP_STYLES') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-grey padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-wrench fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_BB_TOOLS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BB_TOOLS') }}</div>
				</div>
			</div>
		</div>

		<!-- Last updated extensions/styles -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tabs">
					<div class="tab-content padding-0">
						<div role="tabpanel" class="tab-pane active" id="newExts">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_EXTS') }}</h4>
								</li>
								{% for item in bb_new_exts %}
								<li>
									<a href="{{ item.URL }}">
										<span>{{ item.NAME ~ ' ' ~ item.VERSION }}</span>
										{% if item.NEW %}<span class="label label-success pull-right">{{ lang('NEW') }}</span>{% endif %}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newStyles">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_STYLES') }}</h4>
								</li>
								{% for item in bb_new_styles %}
								<li>
									<a href="{{ item.URL }}">
										<span>{{ item.NAME ~ ' ' ~ item.VERSION }}</span>
										{% if item.NEW %}<span class="label label-success pull-right">{{ lang('NEW') }}</span>{% endif %}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newACPStyles">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_ACP_STYLES') }}</h4>
								</li>
								{% for item in bb_new_acp_styles %}
								<li>
									<a href="{{ item.URL }}">
										<span>{{ item.NAME ~ ' ' ~ item.VERSION }}</span>
										{% if item.NEW %}<span class="label label-success pull-right">{{ lang('NEW') }}</span>{% endif %}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newTools">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_TOOLS') }}</h4>
								</li>
								{% for item in bb_new_tools %}
								<li>
									<a href="{{ item.URL }}">
										<span>{{ item.NAME ~ ' ' ~ item.VERSION }}</span>
										{% if item.NEW %}<span class="label label-success pull-right">{{ lang('NEW') }}</span>{% endif %}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- Nav tabs -->
					<ul class="list-inline tabs-nav tabs-bottom" role="tablist">
						<li role="presentation" class="active"><a href="#newExts" aria-controls="newExts" role="tab" data-toggle="tab"><i class="fa fa-rocket fa-2x"></i></a></li>
						<li role="presentation"><a href="#newStyles" aria-controls="newStyles" role="tab" data-toggle="tab"><i class="fa fa-paint-brush fa-2x"></i></a></li>
						<li role="presentation"><a href="#newACPStyles" aria-controls="newACPStyles" role="tab" data-toggle="tab"><i class="fa fa-sliders fa-2x"></i></a></li>
						<li role="presentation"><a href="#newTools" aria-controls="newTools" role="tab" data-toggle="tab"><i class="fa fa-wrench fa-2x"></i></a></li>
					</ul>
					<!-- Tab panes -->
				</div>
			</div>
		</div>

		<div class="widget bg-info padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-notebook fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_TOPICS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('TOPICS') }}</div>
				</div>
			</div>
		</div>

		<div class="widget bg-brown padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-docs fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_POSTS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('POSTS') }}</div>
				</div>
			</div>
		</div>

		<!-- New topics/posts -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tabs">
					<div class="tab-content padding-0">
						<div role="tabpanel" class="tab-pane active" id="newTopics">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_TOPICS') }}</h4>
								</li>
								{% for topic in latest_topics %}
								<li><a href="#"><span>{{ topic.TITLE }}</span></a></li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newPosts">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_POSTS') }}</h4>
								</li>
								{% for post in latest_posts %}
								<li><a href="#"><span>{{ post.SUBJECT }}</span></a></li>
								{% endfor %}
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="newUsers">
							<ul class="nav nav-pills nav-stacked">
								<li class="side-nav-header">
									<h4>{{ lang('LATEST_USERS') }}</h4>
								</li>
								{% for user in latest_users %}
								<li>{{ user.NAME }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- Nav tabs -->
					<ul class="list-inline tabs-nav tabs-bottom" role="tablist">
						<li role="presentation" class="active"><a href="#newTopics" aria-controls="newTopics" role="tab" data-toggle="tab"><i class="fa fa-file-text-o fa-2x"></i></a></li>
						<li role="presentation"><a href="#newPosts" aria-controls="newPosts" role="tab" data-toggle="tab"><i class="fa fa-commenting-o fa-2x"></i></a></li>
						<li role="presentation"><a href="#newUsers" aria-controls="newUsers" role="tab" data-toggle="tab"><i class="fa fa-user-plus fa-2x"></i></a></li>
					</ul>
					<!-- Tab panes -->
				</div>
			</div>
		</div>

		<div class="widget bg-cyan padding-0">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-people fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ CONFIG_TOTAL_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('MEMBERS') }}</div>
				</div>
			</div>
		</div>

		{% if S_DISPLAY_ONLINE_LIST %}
		<div class="widget bg-banalime padding-0" role="button" data-toggle="modal" data-target="#onlineModal">
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-energy fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ TOTAL_ONLINE_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('ONLINE') }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if S_DISPLAY_BIRTHDAY_LIST %}
		<div class="widget bg-pink padding-0"{% if TOTAL_BIRTHDAY_USERS %} role="button" data-toggle="modal" data-target="#birthdayModal"{% endif %}>
			<div class="row row-table">
				<div class="col-xs-4 text-center pv-15 bg-light-dark">
					<em class="icon-present fa-3x"></em>
				</div>
				<div class="col-xs-8 pv-15 text-center">
					<h2 class="mv-0">{{ TOTAL_BIRTHDAY_USERS|number_format }}</h2>
					<div class="text-uppercase">{{ lang('BIRTHDAYS') }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="widget white-bg">
			<div>
				<h4>{{ lang('WEBSITE_FUND') }}</h4>
				<div>
					<span>{{ lang('LABEL_YEAR', DONATE_LAST_YEAR) }}</span>
					<small class="pull-right">{{ lang('DONATE_DONE') }}</small>
				</div>
				<div class="progress progress-mini">
					<div style="width: 100%;" class="progress-bar"></div>
				</div>
				<div>
					<span>{{ lang('LABEL_YEAR', DONATE_YEAR) }}</span>
					<small class="pull-right">{{ DONATE_FUND|number_format }} {{ lang('VARIANT_DATE_SEPARATOR') }} {{ DONATE_YEAR_VALUE|number_format }} {{ DONATE_CURRENCY }}</small>
				</div>
				<div class="progress progress-mini">
					<div style="width: {{ min(100, max(1, DONATE_PERCENT)) }}%;" data-toggle="tooltip" title="{{ lang('LABEL_PERCENT', min(100, DONATE_PERCENT)) }}" class="progress-bar progress-bar-danger"></div>
				</div>
				<div class="text-center">
					<button data-toggle="modal" data-target="#donateModal" class="btn btn-danger"><i class="fa fa-tint"></i> {{ lang('DONATE_BUTTON') }}</button>
				</div>
			</div>
		</div>

	</div>

	<!-- Right column -->
	<div class="col-md-8">
		{% for article in articles %}
		<div class="panel panel-default blog-box">
			<div class="panel-img">
				<img src="{{ T_THEME_PATH }}/images/2.jpg" alt="" class="img-responsive">
			</div>
			<div class="panel-body">
				<a href="{{ article.URL }}"><h4>{{ article.NAME }}</h4></a>
				<p class="text-muted">{{ article.TIME }}</p>
				<p class="text-justify">{{ article.DESC }}</p>
				{% if article.S_NEW %}
				<div class="ribbon ribbon-clip ribbon-reverse ribbon-danger">
					<span class="ribbon-inner">{{ lang('NEW') }}</span>
				</div>
				{% endif %}
			</div>
			<div class="panel-footer">
				<span class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> {{ lang('COUNTER_COMMENT', article.COMMENTS) }}</a></span>
				<a href="{{ article.CAT_URL }}" class="btn btn-primary btn-xs"><i class="fa fa-tags"></i> {{ article.CATEGORY }}</a>
			</div>
		</div>
		{% else %}
		<div class="panel panel-primary">
			<div class="panel-heading">{{ lang('INFORMATION') }}</div>
			<div class="panel-body">{{ lang('NO_PORTAL_ARTICLES') }}</div>
		</div>
		{% endfor %}

		{% if pagination %}{% include 'pagination.html' %}{% endif %}
	</div>
</div>

{# Latest phpBB modal #}
{% if (LATEST_PHPBB_VERSION and (LATEST_PHPBB_DOWNLOAD_URL or LATEST_PHPBB_GITHUB_URL)) or (LATEST_PHPBB_LEGACY_VERSION and (LATEST_PHPBB_LEGACY_DOWNLOAD_URL or LATEST_PHPBB_LEGACY_GITHUB_URL)) or (LATEST_PHPBB_DEV_VERSION and (LATEST_PHPBB_DEV_DOWNLOAD_URL or LATEST_PHPBB_DEV_GITHUB_URL)) %}
<div class="modal fade" id="phpbbModal" tabindex="-1" role="dialog" aria-labelledby="phpbbModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('LATEST_PHPBB_TITLE') }}</h3>
			</div>
			<div class="modal-body">
				{% if LATEST_PHPBB_DEV_VERSION and (LATEST_PHPBB_DEV_DOWNLOAD_URL or LATEST_PHPBB_DEV_GITHUB_URL) %}
				<p>
					<strong>{{ lang('PHPBB_VERSION_X', LATEST_PHPBB_DEV_VERSION) ~ lang('COLON') }}</strong>
					{% if LATEST_PHPBB_DEV_DOWNLOAD_URL %} <a href="{{ LATEST_PHPBB_DEV_DOWNLOAD_URL }}" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('PHPBB_COM') }}</a>{% endif %}
					{% if LATEST_PHPBB_DEV_GITHUB_URL %} <a href="{{ LATEST_PHPBB_DEV_GITHUB_URL }}" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a>{% endif %}
				</p>
				{% endif %}
				{% if LATEST_PHPBB_VERSION and (LATEST_PHPBB_DOWNLOAD_URL or LATEST_PHPBB_GITHUB_URL) %}
					<p>
						<strong>{{ lang('PHPBB_VERSION_X', LATEST_PHPBB_VERSION) ~ lang('COLON') }}</strong>
						{% if LATEST_PHPBB_DOWNLOAD_URL %} <a href="{{ LATEST_PHPBB_DOWNLOAD_URL }}" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('PHPBB_COM') }}</a>{% endif %}
						{% if LATEST_PHPBB_GITHUB_URL %} <a href="{{ LATEST_PHPBB_GITHUB_URL }}" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a>{% endif %}
					</p>
				{% endif %}
				{% if LATEST_PHPBB_LEGACY_VERSION and (LATEST_PHPBB_LEGACY_DOWNLOAD_URL or LATEST_PHPBB_LEGACY_GITHUB_URL) %}
				<p>
					<strong>{{ lang('PHPBB_VERSION_X', LATEST_PHPBB_LEGACY_VERSION) ~ lang('COLON') }}</strong>
					{% if LATEST_PHPBB_LEGACY_DOWNLOAD_URL %} <a href="{{ LATEST_PHPBB_LEGACY_DOWNLOAD_URL }}" class="btn btn-primary btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('PHPBB_COM') }}</a>{% endif %}
					{% if LATEST_PHPBB_LEGACY_GITHUB_URL %} <a href="{{ LATEST_PHPBB_LEGACY_GITHUB_URL }}" class="btn btn-github btn-rounded btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a>{% endif %}
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Latest PHP modal #}
{% if LATEST_PHP_VERSION or LATEST_PHP_LEGACY_VERSION %}
<div class="modal fade" id="phpModal" tabindex="-1" role="dialog" aria-labelledby="phpModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('LATEST_PHP_TITLE') }}</h3>
			</div>
			<div class="modal-body">
				{% if LATEST_PHP_VERSION %}
				<a{% if LATEST_PHP_VERSION_URL %} href="{{ LATEST_PHP_VERSION_URL }}" target="_blank"{% endif %} class="btn btn-indigo btn-rounded btn-icon"><i class="fa fa-info-circle"></i> {{ lang('PHP_VERSION_X', LATEST_PHP_VERSION) }}</a>
				{% endif %}
				{% if LATEST_PHP_LEGACY_VERSION %}
				<a{% if LATEST_PHP_LEGACY_VERSION_URL %} href="{{ LATEST_PHP_LEGACY_VERSION_URL }}" target="_blank"{% endif %} class="btn btn-indigo btn-rounded btn-icon"><i class="fa fa-info-circle"></i> {{ lang('PHP_VERSION_X', LATEST_PHP_LEGACY_VERSION) }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Latest VinaBB modal #}
{% if LATEST_VINABB_VERSION %}
<div class="modal fade" id="vinabbModal" tabindex="-1" role="dialog" aria-labelledby="vinabbModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('LATEST_VINABB_TITLE') }}</h3>
			</div>
			<div class="modal-body">
				<div>
					{% if LATEST_VINABB_GITHUB_PATH and LATEST_VINABB_GITHUB_URL and LATEST_VINABB_GITHUB_FORK_URL %}
					<a class="github-button" href="{{ LATEST_VINABB_GITHUB_URL }}" data-icon="octicon-eye" data-count-href="/{{ LATEST_VINABB_GITHUB_PATH }}/watchers" data-count-api="/repos/{{ LATEST_VINABB_GITHUB_PATH }}#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch on GitHub">Watch</a>
					<a class="github-button" href="{{ LATEST_VINABB_GITHUB_URL }}" data-icon="octicon-star" data-count-href="/{{ LATEST_VINABB_GITHUB_PATH }}/stargazers" data-count-api="/repos/{{ LATEST_VINABB_GITHUB_PATH }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star on GitHub">Star</a>
					<a class="github-button" href="{{ LATEST_VINABB_GITHUB_FORK_URL }}" data-icon="octicon-repo-forked" data-count-href="/{{ LATEST_VINABB_GITHUB_PATH }}/network" data-count-api="/repos/{{ LATEST_VINABB_GITHUB_PATH }}#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork on GitHub">Fork</a>
					{% endif %}
					<br>
					{% if LATEST_VINABB_TRAVIS_IMG_URL and LATEST_VINABB_TRAVIS_URL %}
					<a href="{{ LATEST_VINABB_TRAVIS_URL }}" target="_blank"><img src="{{ LATEST_VINABB_TRAVIS_IMG_URL }}" class="external-img"></a>
					{% endif %}
					{% if LATEST_VINABB_SCRUTINIZER_IMG_URL and LATEST_VINABB_SCRUTINIZER_URL %}
					<a href="{{ LATEST_VINABB_SCRUTINIZER_URL }}" target="_blank"><img src="{{ LATEST_VINABB_SCRUTINIZER_IMG_URL }}" class="external-img"></a>
					{% endif %}
					{% if LATEST_VINABB_CODECLIMATE_IMG_URL and LATEST_VINABB_CODECLIMATE_URL %}
					<a href="{{ LATEST_VINABB_CODECLIMATE_URL }}" target="_blank"><img src="{{ LATEST_VINABB_CODECLIMATE_IMG_URL }}" class="external-img"></a>
					{% endif %}
					{% if LATEST_VINABB_INSIGHT_IMG_URL and LATEST_VINABB_INSIGHT_URL %}
					<a href="{{ LATEST_VINABB_INSIGHT_URL }}" target="_blank"><img src="{{ LATEST_VINABB_INSIGHT_IMG_URL }}" class="external-img"></a>
					{% endif %}
				</div>
				{% if LATEST_VINABB_GITHUB_DOWNLOAD_URL %}
				<div class="text-center margin-t-5">
					<a href="{{ LATEST_VINABB_GITHUB_DOWNLOAD_URL }}" target="_blank" class="btn btn-github btn-icon"><i class="fa fa-download"></i> {{ lang('GITHUB') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Online modal #}
{% if S_DISPLAY_ONLINE_LIST %}
<div class="modal fade" id="onlineModal" tabindex="-1" role="dialog" aria-labelledby="onlineModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('WHO_IS_ONLINE') }}</h3>
			</div>
			<div class="modal-body">
				<p>
					{% EVENT index_body_block_online_prepend %}
					{{ TOTAL_USERS_ONLINE }} ({{ L_ONLINE_EXPLAIN }})<br>{{ RECORD_USERS }}<br><br>{{ LOGGED_IN_USER_LIST }}{% if LEGEND %}<br><em>{{ lang('LEGEND') ~ lang('COLON') }} {{ LEGEND }}</em>{% endif %}
					{% EVENT index_body_block_online_append %}
				</p>
				{% if U_VIEWONLINE %}
				<div class="text-center">
					<a href="{{ U_VIEWONLINE }}" class="btn btn-primary">{{ lang('VIEW_DETAILS') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Birthday modal #}
{% if S_DISPLAY_BIRTHDAY_LIST and TOTAL_BIRTHDAY_USERS %}
<div class="modal fade" id="birthdayModal" tabindex="-1" role="dialog" aria-labelledby="birthdayModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('BIRTHDAYS') }}</h3>
			</div>
			<div class="modal-body">
				<p>
					{% EVENT index_body_block_birthday_prepend %}
					{{ lang('CONGRATULATIONS') ~ lang('COLON') }} <strong>{% for birthday in birthdays %}{{ birthday.USERNAME }}{% if birthday.AGE %} ({{ birthday.AGE }}){% endif %}{% if not loop.last %}, {% endif %}{% endfor %}</strong>
					{% EVENT index_body_block_birthday_append %}
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

{# Donation modal #}
{% if DONATE_YEAR and DONATE_YEAR_VALUE %}
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ lang('CLOSE') }}"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
				<h3 class="modal-title">{{ lang('DONATE') }}</h3>
			</div>
			<div class="modal-body">
				<p><strong>{{ lang('DONATE_BANK') ~ lang('COLON') }}</strong> {{ DONATE_BANK }}</p>
				<p><strong>{{ lang('DONATE_OWNER') ~ lang('COLON') }}</strong> {{ DONATE_OWNER }}</p>
				<p><strong>{{ lang('DONATE_BANK_ACC') ~ lang('COLON') }}</strong> <kbd>{{ DONATE_BANK_ACC }}</kbd></p>
				{% if not S_VIETNAMESE %}
				<p><strong>{{ lang('DONATE_BANK_SWIFT') ~ lang('COLON') }}</strong> <code>{{ DONATE_BANK_SWIFT }}</code></p>
				<p><strong>{{ lang('CURRENCY') ~ lang('COLON') }}</strong> <code>{{ DONATE_CURRENCY }}</code></p>
				{% endif %}
				{% if DONATE_PAYPAL %}
				<div class="text-center">
					<a href="{{ DONATE_PAYPAL }}" target="_blank" class="btn btn-primary"><i class="fa fa-paypal"></i> {{ lang('PAYPAL') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% include 'overall_footer.html' %}
