{% import '_macros.html' as tpl %}

{% include 'embed_header.html' %}

<div>
	<span class="first">
		{{ FORUM_NAME }}
		<span class="new"><i class="fa fa-file-text-o"></i></span>
	</span>
	<ul class="timeline">
		<li>
			<div class="avatar">
				<img src="{{ T_THEME_PATH }}/images/forum_icons/{{ FORUM_ID }}.png" alt="{{ FORUM_NAME }}">
				<div class="hover">
					<div class="logo"><i class="fa fa-vimeo"></i></div>
				</div>
			</div>
			<div class="bubble-container">
				<div class="bubble">
					<div class="label">
						<div class="label-time">{{ POST_TIME }}</div>
					</div>
					<h3><i class="fa fa-user"></i> {{ POSTER }}</h3>
					<p>{{ tpl.truncate(FORUM_DESC, 200) }}</p>
					<div class="over-bubble">
						<div class="back-link action"><i class="fa fa-external-link"></i></div>
					</div>
				</div>
				<div class="arrow"></div>
			</div>
		</li>
	</ul>
</div>

{% include 'embed_footer.html' %}

<script>
	$(document).ready(
		function()
		{
			{% if POSTER_URL %}
			$('.avatar').on('click',
				function()
				{
					window.open('{{ POSTER_URL }}');
				}
			);
			{% endif %}

			$('.bubble-container').on('click',
				function()
				{
					window.open('{{ U_FORUM }}');
				}
			);
		}
	);
</script>
